 .divFormLogin {
    margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
   
  padding: 10px;
  
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0.8;
 width: 400px;
  border-radius: 12px;
}
 
 .divFormLogin .buttonFormDangNhap
{
	  background-color: #3B5998;
	  color: white;
}
 .divFormLogin .buttonFormDangNhap:hover {
  background-color: #3B5998;
  color: white;
}
.divFormLogin .divRegisterForgot
{
	padding-top: 15px;
}

.divFormLogin .titleFormLogin
{
	color: #000000;
}
 .bodyLogin
		{ 
			 font-size: 62.5%;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: Raleway;
  background: url(https://wallpaperscraft.com/image/city_street_house_sidewalk_58870_1920x1200.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 50%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
		}
		
 
.divFormLogin .titleLogin
{
	font-size: 40px;
	color: black;
	text-align: center;
}
.divFormLogin .LabelTitleInput
{
	color: black;
	font-size: 20px;
}
 
.divFormLogin .IconLogin
{
	margin-bottom: 20px;
}
.divFormLogin .InputLogin
{
  font-size: 20px;
}