 <form>
 
  
  <table class="fixed_headers_Don_Hang"  >
            <thead>
               <tr>
                  <th data-field="ID" ng-click="SapXepDonHangTheoID()">{{DataTableDonHang.id}}<b class="caret" ></b></th>
                  <th data-field="TenSanPham" ng-click="SapXepDonHangTheoKhachHang()">{{DataTableDonHang.khachhang}}<b class="caret" ></b></th>
                  <th data-field="Soluong">{{DataTableDonHang.soluong}}</th>
                  <th data-field="NgayMua" ng-click="SapXepDonHangTheoNgayMua()">{{DataTableDonHang.ngaymua}}<b class="caret" ></b></th>
                  <th data-field="edit">{{DataTableDonHang.dienthoai}}</th>
                  <th data-field="delete">{{DataTableDonHang.diachi}}</th>
                  
                  <th data-field="Da giao" ng-click="SapXepDonHangTheoTinhTrang()">{{DataTableDonHang.dagiao}}<b class="caret" ></b></th>
               </tr>
            </thead>
            <tbody  >
               <tr ng-repeat="item in DonHang" >
                     <td ng-click="TimIDDonHang(item); 
                  xemChiTietDonHang($event)">{{item.IDDonHang}}</td>
                  <td ng-click="TimIDDonHang(item); 
                  xemChiTietDonHang($event)">{{item.TenMuaHang}}</td>
                  <td ng-click="TimIDDonHang(item); xemChiTietDonHang($event)">{{item.SoLuongSanPham}}</td>
                  <td ng-click="TimIDDonHang(item); xemChiTietDonHang($event)">{{item.NgayMuaHang}}</td>
                  <td ng-click="TimIDDonHang(item); xemChiTietDonHang($event)">{{item.DienThoaiMuaHang}}</td>
                  <td ng-click="TimIDDonHang(item); xemChiTietDonHang($event)">{{item.DiaChiMuaHang}}</td>
                  
                  <td  >
                     <md-checkbox  class="md-primary" ng-model="item.TinhTrangDaGiao" ng-true-value="true" ng-false-value="false" ng-change="TimIDDonHang(item); CheckTinhTrangDaGiao()"></md-checkbox>
                  </td>
               </tr>
                   
           
            </tbody>

	         </table>
 
   
    
</form>