 
   <h4 style="text-align: center">{{CurrentSanPhamEdit.ID}} - {{CurrentSanPhamEdit.TenSanPham}}</h4>
<md-divider></md-divider>

   <table class="table nofill table-striped" style="width: 100%;">
   <thead>
      <tr>
         <th class="text-left">{{DataChiTietLanNhapSanPham.danhmuc}}</th>
         <th class="text-left">{{DataChiTietLanNhapSanPham.soluong}}</th>
      
      </tr>
      </thead>
      <tbody class="table-hover">
         <tr>
            <td>{{DataChiTietLanNhapSanPham.tongsanpham}}</td>
            <td>{{CurrentSanPhamEdit.SoLuongSanPham}}</td>
         </tr>
         <tr>
            <td>{{DataChiTietLanNhapSanPham.soluongban}}</td>
            <td>{{CurrentSanPhamEdit.SoLuongBan}}</td>
         </tr>
         <tr>
            <td>{{DataChiTietLanNhapSanPham.tonkho}}</td>
            <td>{{CurrentSanPhamEdit.SoLuongSanPham - CurrentSanPhamEdit.SoLuongBan}}</td>
         </tr>
          
      </tbody>
   </table>

  
      <table class="table-fill_CT_Lan_Nhap">
         <thead>
            <tr>
               <th class="text-center">{{DataChiTietLanNhapSanPham.lannhap}}</th>
               <th class="text-center">{{DataChiTietLanNhapSanPham.soluong}}</th>
               <th class="text-center">{{DataChiTietLanNhapSanPham.ngaynhap}}</th>
            </tr>
         </thead>
         <tbody class="table-hover"  ng-controller="ChiTietLanNhapSanPhamController" >
            <tr ng-repeat="item in ListChiTietLanNhapTheoID">
               <td class="text-center">{{item.IDLanThem}}</td>
               <td class="text-center">{{item.SoLuongLanThem}}</td>
               <td class="text-center">{{item.NgayThem}}</td>
            </tr>
            
         </tbody>
      </table>


 
 