 <form>
 
   <table class="  fixed_headers_San_Pham"  >
      <thead>
         <tr>
             <th data-field="ID" ng-click="SapXepSanPhamTheoID()">{{DataTableSanPham.id}}
               <b class="caret" ></b></th>
               <th data-field="ID" ng-click="SapXepSanPhamTheoMaSanPham()">{{DataTableSanPham.masanpham}}
                 <b class="caret" ></b></th>
            <th data-field="TenSanPham" ng-click="SapXepSanPhamTheoTen()">{{DataTableSanPham.ten}}
               <b class="caret" ></b>
            </th>
            <th data-field="LoaiSanPham" ng-click="SapXepSanPhamTheoLoaiSanPham()">{{DataTableSanPham.loai}}
             <b class="caret" ></b></th>
            <th data-field="GiaCa" ng-click="SapXepSanPhamTheoGia()">{{DataTableSanPham.gia}}
               <b class="caret" ></b>
            </th>
            <th data-field="Soluong" ng-click="SapXepSanPhamTheoTongHang()">{{DataTableSanPham.tonghang}}
               <b class="caret" ></b>
            </th>
             <th data-field="DaBan" ng-click="SapXepSanPhamTheoDaBan()">{{DataTableSanPham.daban}}
               <b class="caret" ></b>
             </th>
            <th data-field="MoTa">{{DataTableSanPham.mota}}</th>
            <th data-field="ThemHang">{{DataTableSanPham.themhang}}</th>
            <th data-field="edit">{{DataTableSanPham.chinhsua}}</th>
            <th data-field="delete">{{DataTableSanPham.xoa}}</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="item in ListSanPham" >
            <td ng-click="XemChiTietLanNhap($event); TimIDSanPham(item)">{{item.ID}}</td>
             <td ng-click="XemChiTietLanNhap($event); TimIDSanPham(item)">{{item.MaSanPham}}</td>
            <td ng-click="XemChiTietLanNhap($event); TimIDSanPham(item)">{{item.TenSanPham}}</td>
            <td ng-click="XemChiTietLanNhap($event); TimIDSanPham(item)">{{item.LoaiSanPham}}</td>
            <td ng-click="XemChiTietLanNhap($event); TimIDSanPham(item)">{{item.GiaSanPham}}</td>
            <td ng-click="XemChiTietLanNhap($event); TimIDSanPham(item)">{{item.SoLuongSanPham}}</td>
            <td ng-click="XemChiTietLanNhap($event); TimIDSanPham(item)">{{item.SoLuongBan}}</td>
            <td ng-click="XemChiTietLanNhap($event); TimIDSanPham(item)">{{item.MoTaSanPham}}</td>
             <td>
               <md-icon class="material-icons" ng-click=" showThemLanNhapSanPham($event); TimIDSanPham(item)"  >add</md-icon>
            </td>
            <td>
               <md-icon class="material-icons" ng-click=" showEditSanPhamDialog($event); TimIDSanPham(item)">mode_edit</md-icon>
            </td>
            <td>
               <i class="btn-deletar mdi-content-remove-circle" ng-click="xoaSanPham($event, item)"></i>
            </td>
         </tr>
           
         
      </tbody>
</table>
 <md-button class="md-fab md-mini md-fab-bottom-right" id="btnfabAddSanPham" aria-label="Mini FAB" ng-click="openBottemThemSanPham()">
  <md-icon icon="material-icons" id="buttonAddSanPham">add</md-icon>
</md-button>
</form>