 <form>
 
  <table class="  fixed_headers_Khach_Hang"  >
            <thead>
               <tr>
                  <th data-field="TenSanPham">ID</th>
                  <th data-field="LoaiSanPham">Ho ten</th>
                  <th data-field="GiaCa">Gioi tinh</th>
                  <th data-field="Soluong">Ngay sinh</th>
                  <th data-field="edit">Dien thoai</th>
                  <th data-field="delete">Dia chi</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="item in KhachHang">
                  <td>{{item.IDKhachHang}}</td>
                  <td>{{item.TenKhachHang}}</td>
                  <td>{{item.GioiTinh}}</td>
                  <td>{{item.NgaySinh}}</td>
                  <td>{{item.DienThoaiKhachHang}}</td>
                  <td>{{item.DiaChiKhachHang}}</td> 
              
               </tr>
           
           
            </tbody>

	         </table>

 
   
    
</form>