<form layout="column">
	<table class="table nofill table-striped">
	<thead>
		<tr>
			<th class="text-left"></th>
			<th class="text-left">{{DataGioHang[0].title}}</th>
			<th class="text-left">{{DataGioHang[1].title}}</th>
			<th class="text-left">{{DataGioHang[2].title}}</th>
			<th class="text-left">{{DataGioHang[3].title}}</th>
		</tr>
	</thead>
	<tbody class="table-hover">
		<tr ng-repeat="item in gioHang">
			<td class="text-left">
				<md-icon class="material-icons" ng-click="xoaGioHang(item)">close</md-icon>
			</td>
			<td class="text-left" layout="row" layout-align="auto center">
				<img ng-src={{item.ImagePhu1}} class="md-card-image imageSanPhamGioHang"  >
				<span flex="10"></span> 
				<p>{{item.TenSanPham}}</p>
			</td>
			<td class="text-left">{{item.GiaSanPham}}</td>
			<td>
	
	<table class="tableSoLuongGioHang">

 <!-- so luong mua tung san pham -->
		<tr>
		  	<td>
			  	<div layout="row">
			  		<md-button class="md-icon-button" ng-click="GiamSoLuongItem(item)" >
			  			<md-icon class="material-icons">remove</md-icon>
			  		</md-button>
			  		<input class="inputSoLuongGioHang"  ng-model="item.SoLuongMua">      
			  		<md-button class="md-icon-button" ng-click="ThemSoLuongItem(item)" >
			  			<md-icon class="material-icons">add
			  			</md-icon>
			  		</md-button>
			  	</div>
		  	</td>
		</tr>
	</table>
			</td>
<!-- het so luong mau tung san pham -->

			<td class="text-left">{{item.ThanhTienSpace}} {{currentVND}}</td>
		</tr>
		<tr>		 
			<td class="text-left" colspan="2"></td>
			<td class="text-left" id="textTongCong" colspan="2">{{DataGioHangThanhToan[0].title}}
			</td>
			<td class="text-left">{{TongThanhToanSpace}} {{currentVND}}
			</td>
		</tr>
	</tbody>
	</table>
 
	<div layout = "row" id="divGioHangDatHang"  >
		<span flex></span>

		<md-button id="buttonDatMua" ng-click="DatMuaHang($event)">{{DataGioHangThanhToan[1].title}}
		</md-button>
	</div>
</form>