
	<div class="divFormCTSanPham" layout-gt-sm="row" >
		<div layout="column" class="divImage">
			<img  class="BigImageCT"  
	    	src="{{laySanPham.currentShowImage}}" 
	    	ng-click="showBigPicture(ev); TimIDXemPhongToHinhAnh(laySanPham);"/>

			<div layout-gt-sm="row" layout-align="center center" class="divSmallImage">
				<img ng-click="changeShowImage(laySanPham.ImagePhu1)" class="md-card-image SmallImage" src="{{laySanPham.ImagePhu1}}" ng-class="{'active' : laySanPham.ImagePhu1 == laySanPham.currentShowImage}"/>
				<span flex=""></span>
				<img ng-click="changeShowImage(laySanPham.ImagePhu2)"   class="md-card-image SmallImage" src="{{laySanPham.ImagePhu2}}" ng-class="{'active' : laySanPham.ImagePhu2 == laySanPham.currentShowImage}"/>
				<span flex=""></span>
				<img ng-click="changeShowImage(laySanPham.ImagePhu3)"  class="md-card-image SmallImage" src="{{laySanPham.ImagePhu3}}" ng-class="{'active' : laySanPham.ImagePhu3 == laySanPham.currentShowImage}"/>
			</div>
		</div>


		<span flex="20"></span>
		<div layout="column" class="divThongTin">
				<p class="pTenSanPham">{{laySanPham.TenSanPham}}</p>
				 
				<p class="pMaSanPham">{{DataChiTietSanPham.masanpham}} {{laySanPham.MaSanPham}}</p>
				 
				<p class="pGiaSanPham">{{laySanPham.GiaSanPham}} {{currentVND}}</p>
				 
				<md-divider></md-divider>
				 
				<p class="pMoTa">Mo ta: {{laySanPham.MoTaSanPham}}</p>
				 
				<md-divider></md-divider>
				
				<!-- thanh so luong mua -->


				 
	<table  class="tableThemSoLuongSanPham">
		<tr>
		  	<td>
			  	<div layout="row">
			  		<md-button class="md-icon-button" ng-click="GiamSoLuong()" >
			  			<md-icon class="material-icons">remove</md-icon>
			  		</md-button>
			  		<input class="inputSoLuongSanPham" ng-model="SoLuongSanPham">
			  		<md-button class="md-icon-button" ng-click="ThemSoLuong()" >
			  			<md-icon class="material-icons">add</md-icon>
			  		</md-button>
			  	</div>
			</td>
		</tr>	
	</table>

 
	<md-button class="buttonMuaHangSanPham" ng-click="boVaoGioHang11(laySanPham)"  >
		<md-icon  class="material-icons">{{ButtonMuaHang[2].IconButton}}
		</md-icon>
		{{ButtonMuaHang[2].TenButton}}
	</md-button>

	<md-button class="buttonMuaHangSanPham"  ng-click="MuaNgaySanPhamChiTiet(laySanPham)"  >
		{{ButtonMuaHang[0].TenButton}}
	</md-button>
</div>

</div>
	 
 