<form class="formSanPham">
<div layout="row">
	<div layout="column">
		<md-sidenav   class="md-sidenav-left md-whiteframe-z2 sidenavDanhMuc" layout="column" md-component-id="left"  md-is-locked-open="$mdMedia('gt-sm')"  > 


			<div hide-gt-sm>
				<md-toolbar class="toolbarSidenav">
        			<div class="md-toolbar-tools">
        		  		<h2>{{TenShop}}</h2>
          			</div>
 				</md-toolbar>
       		 	<span flex></span>
				<a class="aSidenaveSanPham" href="#trangchu">{{DanhMucMenu[0].danhmuc}}</a>
				<a class="aSidenaveSanPham" href="#sanpham">{{DanhMucMenu[1].danhmuc}}</a>
				<a class="aSidenaveSanPham" href="#gioithieu">{{DanhMucMenu[2].danhmuc}}</a>
				<a class="aSidenaveSanPham" href="#lienhe">{{DanhMucMenu[3].danhmuc}}</a>
				<a class="aSidenaveSanPham" href="#dosizenhan">{{DanhMucMenu[4].danhmuc}}</a>
				<md-divider></md-divider>
			</div>
			<div>
			  <!-- <md-subheader class="SubHeaderDanhMuc">San pham</md-subheader> -->
				<a class="aSidenaveSanPham" href="#sanpham/Nhan">{{DanhMucSanPham[0].loaisanpham}}</a>
		 		<md-divider hide show-gt-sm></md-divider>
	     		<a class="aSidenaveSanPham" href="#sanpham/DayChuyen">{{DanhMucSanPham[1].loaisanpham}}</a>
	     		<md-divider hide show-gt-sm></md-divider>
	     		<a class="aSidenaveSanPham" href="#sanpham/LacTay">{{DanhMucSanPham[2].loaisanpham}}</a>
	     		<md-divider hide show-gt-sm></md-divider>
	     		<a class="aSidenaveSanPham" href="#sanpham/LacChan">{{DanhMucSanPham[3].loaisanpham}}</a>
	     		<md-divider hide show-gt-sm></md-divider>
	     		<a class="aSidenaveSanPham" href="#sanpham/HoaTai">{{DanhMucSanPham[4].loaisanpham}}</a>
	    	</div>
		</md-sidenav>
		<span flex="5"></span>
		<md-sidenav   class="md-sidenav-left md-whiteframe-z2 sidenavDanhMuc" layout="column" md-component-id="left"  md-is-locked-open="$mdMedia('gt-sm')"  > 
		 
			 <div>
                 <a ng-class="{'active' : sx.id == selectedsapxep}" class="aSidenaveSanPham sapxepactive" ng-repeat="sx in listsapxep" ng-click="changesapxep(sx)">{{sx.name}}</a>
		 		<md-divider hide show-gt-sm></md-divider>
	     	 
            </div>            
		</md-sidenav>
	</div>
	 
	<div layout="column" flex>
		<section layout="column" role="main" flex >
        	<md-content class="md-whiteframe-z2">
                <md-content ng-controller="slideShowController" class="hinhNen md-whiteframe-z2" ng-switch='slideshow'>
                    <img class="md-whiteframe-z2 slide" src="{{HinhAnhSlide[0].imageslide}}" ng-switch-when="1">
                    <img class="md-whiteframe-z2 slide" src="{{HinhAnhSlide[1].imageslide}}" ng-switch-when="2">
                    <img class="md-whiteframe-z2 slide" src="{{HinhAnhSlide[2].imageslide}}" ng-switch-when="3">
                    <img class="md-whiteframe-z2 slide" src="{{HinhAnhSlide[3].imageslide}}" ng-switch-when="4">
                </md-content>                
            </md-content>                      
        </section>       
		
  		<div layout="row"  layout-padding layout-wrap class="container-sanpham">
  		 
  		 
       
   			<md-card class="cardSanPham" ng-repeat="sanpham in SanPhamOnPage | filter: SearchSanPham | orderBy: TenSanPham"  >
				<img ng-click="openDialogXemChiTietSanPham($event); TimThongTinSanPham(sanpham)" ng-src={{sanpham.ImagePhu1}} class="md-card-image imageSanPham">
				<md-card-title class="cardTitleSanPham" ng-click="openDialogXemChiTietSanPham($event); TimThongTinSanPham(sanpham)">
					<md-card-title-text>{{sanpham.TenSanPham}}
					</md-card-title-text>
				</md-card-title>
				<md-divider></md-divider>
				<md-card-content class="cardContentSanPham" ng-click="openDialogXemChiTietSanPham($event); TimThongTinSanPham(sanpham)">{{sanpham.GiaSanPham}} {{currentVND}}</md-card-content>

				<md-card-actions layout="row" layout-align="start start"  class="buttonAction">
					<md-button class="buttonMuaHang" ng-click=" MuaNgaySanPhamCard(sanpham)">
					{{ButtonMuaHang[0].TenButton}}
					</md-button>
				 	<md-button class="buttonMuaHang1" ng-click="ThemVaoGioHangCard(sanpham)">
						<md-icon  class="material-icons">{{ButtonMuaHang[1].IconButton}}
						</md-icon>
						{{ButtonMuaHang[1].TenButton}}
					</md-button>
				</md-card-actions>
			</md-card>
				 
        
		</div>

		<!-- page number -->
 	 

 	<div class="paginationNumber" layout="row" layout-align="center center"  >
 		<a class="btnpag btn-prev" ng-click="changePagePrev()">Prev</a>
	 	<a  ng-class="{'active' : it == currentPage}" class="btnpag" ng-repeat="it in PageArray" ng-click="changeCurrentPage(it)">{{it + 1}}
	 	</a>
  		<a class="btnpag btn-next" ng-click="changePageNext()">Next</a>
	</div>
</div>
</form>