<form   class="formTrangChu">

	<div layout="column">
		 <div layout="row"  >
		    <section layout="column" role="main" flex >
         
                <md-content class="md-whiteframe-z2">
                    <md-content ng-controller="slideShowController" class="hinhNen md-whiteframe-z2" ng-switch='slideshow'>
                        <img class="md-whiteframe-z2 slide" src="{{HinhAnhSlide[0].imageslide}}" ng-switch-when="1">
                        <img class="md-whiteframe-z2 slide" src="{{HinhAnhSlide[1].imageslide}}" ng-switch-when="2">
                        <img class="md-whiteframe-z2 slide" src="{{HinhAnhSlide[2].imageslide}}" ng-switch-when="3">
                        <img class="md-whiteframe-z2 slide" src="{{HinhAnhSlide[3].imageslide}}" ng-switch-when="4">
                    </md-content>                
                </md-content>                
        
        	</section>       
		</div>

		<h2 class="h2TextContent">Welcome</h2>

		<div layout="row" layout-padding layout-wrap   >
   		 	<md-card class="cardSanPham" ng-repeat="sanpham in ListSanPhamTrangChu">
				<img ng-src={{sanpham.ImagePhu1}} class="md-card-image imageSanPham"  ng-click="openDialogXemChiTietSanPham($event); TimThongTinSanPham(sanpham)">
				<md-card-title class="cardTitleSanPham" ng-click="openDialogXemChiTietSanPham($event); TimThongTinSanPham(sanpham)">
					<md-card-title-text>{{sanpham.TenSanPham}}
					</md-card-title-text>
				</md-card-title>
				<md-divider></md-divider>
				<md-card-content class="cardContentSanPham" ng-click="openDialogXemChiTietSanPham($event); TimThongTinSanPham(sanpham)">{{sanpham.GiaSanPham}} {{currentVND}}</md-card-content>
				<md-card-actions layout="row" layout-align="start start">
				 	<md-button class="buttonMuaHang" ng-click=" MuaNgaySanPhamCard(sanpham)"  >
				 	{{ButtonMuaHang[0].TenButton}}
					</md-button>
				 	<md-button class="buttonMuaHang" ng-click="ThemVaoGioHangCard(sanpham)"   >
						<md-icon  class="material-icons">{{ButtonMuaHang[1].IconButton}}
						</md-icon>
						{{ButtonMuaHang[1].TenButton}}
					</md-button>
				</md-card-actions>
			</md-card>
		</div>

		<!-- Gioi thieu trang -->
	<div class="section-2 cf">
		 
		<div class="quotes sherlock">
			<h3>{{TenShopDayDu}}</h3>
			<p>{{GioiThieuTrangChu[0].content}}</p>
			 <p>{{GioiThieuTrangChu[1].content}}</p>  
			<p>{{GioiThieuTrangChu[2].content}}</p>  
			<p>{{GioiThieuTrangChu[3].content}}</p>  
			<p>{{GioiThieuTrangChu[4].content}}</p>  

		</div>	
	</div>


	</div>
</form>