<form>
	<md-card style="width:279px;" >
		<img ng-src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13164258_914741618635221_2508310868024960768_n.jpg?oh=cf2e4a31f071b88dd4d66d3327a23322&oe=5807DAE1" class="md-card-image imageSanPham">
		<md-card-title class="cardTitleSanPham">
			<md-card-title-text class="md-headline">Nhan
			</md-card-title-text>
		</md-card-title>
		<md-divider></md-divider>
		<md-card-content class="cardContentSanPham">120.000 VND</md-card-content>
		<md-card-actions layout="row" layout-align="start center">
			<md-button class="md-icon-button" aria-label="Favorite">
				<md-icon class="material-icons">favorite</md-icon>
			</md-button>
		</md-card-actions>
	</md-card>
</form>