.fixed_headers_San_Pham {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
 
.fixed_headers_San_Pham th
  {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  background: #585858 ;
}
 
.fixed_headers_San_Pham td {
   padding: 5px;
  text-align: center;
  font-size: 18px;
  background:#FFFFFF;
  
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.fixed_headers_San_Pham td:last-child {
  border-right: 0px;
}
 .fixed_headers_San_Pham tr:nth-child(odd) td {
  background:#EBEBEB;
}

.fixed_headers_San_Pham td:nth-child(1),
.fixed_headers_San_Pham th:nth-child(1) {
  min-width: 70px;
}
.fixed_headers_San_Pham td:nth-child(2),
.fixed_headers_San_Pham th:nth-child(2) {
  min-width: 80px;
}
.fixed_headers_San_Pham td:nth-child(3),
.fixed_headers_San_Pham th:nth-child(3) {
  min-width: 233px;
}
.fixed_headers_San_Pham td:nth-child(4),
.fixed_headers_San_Pham th:nth-child(4) {
  min-width: 100px;
}

 /*can le cho cot cuoi cung*/
  .fixed_headers_San_Pham td:nth-child(1),
 .fixed_headers_San_Pham td:nth-child(6),
 .fixed_headers_San_Pham td:nth-child(11),
 .fixed_headers_San_Pham td:nth-child(9),
  .fixed_headers_San_Pham td:nth-child(10),
  .fixed_headers_San_Pham td:nth-child(7)

 {
    text-align: center;
 }
.fixed_headers_San_Pham td:nth-child(5),
.fixed_headers_San_Pham th:nth-child(5) {
  width: 110px;
}
.fixed_headers_San_Pham td:nth-child(6),
.fixed_headers_San_Pham th:nth-child(6) {
  width: 90px;
}
.fixed_headers_San_Pham td:nth-child(7),
.fixed_headers_San_Pham th:nth-child(7) {
  width: 90px;
}
.fixed_headers_San_Pham td:nth-child(8),
.fixed_headers_San_Pham th:nth-child(8) {
  width: 150px;
}
.fixed_headers_San_Pham td:nth-child(9),
.fixed_headers_San_Pham th:nth-child(9) {
  width: 70px;
}
.fixed_headers_San_Pham td:nth-child(10),
.fixed_headers_San_Pham th:nth-child(10) {
  width: 70px;
}
.fixed_headers_San_Pham td:nth-child(11),
.fixed_headers_San_Pham th:nth-child(11) {
  width: 70px;
}
.fixed_headers_San_Pham thead {
  background-color: #585858;
  color: #FDFDFD;
}
.fixed_headers_San_Pham thead tr {
  display: block;
  position: relative;
}
.fixed_headers_San_Pham tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 500px;
}
.fixed_headers_San_Pham tbody tr:nth-child(even) {
  background-color: #DDD;
}
 
/*template Admin_TinNhan*/
.fixed_headers_Tin_Nhan {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_headers_Tin_Nhan th {
 
    padding: 5px;
  text-align: center;
  font-size: 18px;
	background: #585858 ;
}
 
.fixed_headers_Tin_Nhan td {
	 padding: 5px;
   
  font-size: 18px;
  background:#FFFFFF;
  
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.fixed_headers_Tin_Nhan td:last-child {
  border-right: 0px;
 
}
 .fixed_headers_Tin_Nhan tr:nth-child(odd) td {
  background:#EBEBEB;
}
 /*can le cho cot cuoi cung*/
  .fixed_headers_Tin_Nhan td:nth-child(1),
 
 
 .fixed_headers_Tin_Nhan td:nth-child(7)
 {
    text-align: center;
 }
 .fixed_headers_Tin_Nhan td:nth-child(1),
.fixed_headers_Tin_Nhan th:nth-child(1) {
  min-width: 70px;
}
.fixed_headers_Tin_Nhan td:nth-child(2),
.fixed_headers_Tin_Nhan th:nth-child(2) {
  min-width: 120px;
}
.fixed_headers_Tin_Nhan td:nth-child(3),
.fixed_headers_Tin_Nhan th:nth-child(3) {
  min-width: 300px;
}
.fixed_headers_Tin_Nhan td:nth-child(4),
.fixed_headers_Tin_Nhan th:nth-child(4) {
  width: 180px;
}
.fixed_headers_Tin_Nhan td:nth-child(5),
.fixed_headers_Tin_Nhan th:nth-child(5) {
  width: 200px;
}
.fixed_headers_Tin_Nhan td:nth-child(6),
.fixed_headers_Tin_Nhan th:nth-child(6) {
  width: 160px;
}
.fixed_headers_Tin_Nhan td:nth-child(7),
.fixed_headers_Tin_Nhan th:nth-child(7) {
  width: 70px;
  
}
 
.fixed_headers_Tin_Nhan thead {
  background-color: #585858;
  color: #FDFDFD;
}
.fixed_headers_Tin_Nhan thead tr {
  display: block;
  position: relative;
}
.fixed_headers_Tin_Nhan tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 500px;
}
.fixed_headers_Tin_Nhan tbody tr:nth-child(even) {
  background-color: #DDD;
}
/*het template Tin Nhan*/

/*template Admin_Khach Hang*/
.fixed_headers_Khach_Hang {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_headers_Khach_Hang th {
  
    padding: 5px;
  text-align: center;
  font-size: 18px;
	background: #585858 ;
}
 
.fixed_headers_Khach_Hang td {
	 padding: 5px;
   
  font-size: 18px;
  background:#FFFFFF;
  
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.fixed_headers_Khach_Hang td:last-child {
  border-right: 0px;
 
}
 .fixed_headers_Khach_Hang tr:nth-child(odd) td {
  background:#EBEBEB;
}

 
.fixed_headers_Khach_Hang td:nth-child(1),
.fixed_headers_Khach_Hang th:nth-child(1) {
  text-align: center;
  min-width: 100px;
}
.fixed_headers_Khach_Hang td:nth-child(2),
.fixed_headers_Khach_Hang th:nth-child(2) {
  min-width: 230px;
   
}
.fixed_headers_Khach_Hang td:nth-child(3),
.fixed_headers_Khach_Hang th:nth-child(3) {
  width: 100px;
  text-align: center;
}
.fixed_headers_Khach_Hang td:nth-child(4),
.fixed_headers_Khach_Hang th:nth-child(4) {
  width: 150px;
}
.fixed_headers_Khach_Hang td:nth-child(5),
.fixed_headers_Khach_Hang th:nth-child(5) {
  width: 200px;
  
}
.fixed_headers_Khach_Hang td:nth-child(6),
.fixed_headers_Khach_Hang th:nth-child(6) {
  width: 250px; 
  
}
 
.fixed_headers_Khach_Hang thead {
  background-color: #585858;
  color: #FDFDFD;
}
.fixed_headers_Khach_Hang thead tr {
  display: block;
  position: relative;
}
.fixed_headers_Khach_Hang tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 472px;
}
.fixed_headers_Khach_Hang tbody tr:nth-child(even) {
  background-color: #DDD;
}
/*het template Khach Hang*/
 
  /*template Admin Don Hang*/
.fixed_headers_Don_Hang {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_headers_Don_Hang th {
  
    padding: 5px;
  text-align: center;
  font-size: 18px;
	background: #585858 ;
}
 
.fixed_headers_Don_Hang td {
	 padding: 5px;
   
  font-size: 18px;
  background:#FFFFFF;
  
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.fixed_headers_Don_Hang td:last-child {
  border-right: 0px;
 
}
 .fixed_headers_Don_Hang tr:nth-child(odd) td {
  background:#EBEBEB;
}
 /*can le cho cot*/
 .fixed_headers_Don_Hang td:nth-child(1),
  .fixed_headers_Don_Hang td:nth-child(3),
    .fixed_headers_Don_Hang td:nth-child(4),
  .fixed_headers_Don_Hang td:nth-child(7),
    .fixed_headers_Don_Hang td:nth-child(8)
    
 {
	   text-align: center;
    vertical-align: middle;
		
 }
 .fixed_headers_Don_Hang td:nth-child(1),
.fixed_headers_Don_Hang th:nth-child(1) {
  min-width: 90px;
}
.fixed_headers_Don_Hang td:nth-child(2),
.fixed_headers_Don_Hang th:nth-child(2) {
  min-width: 190px;
}
.fixed_headers_Don_Hang td:nth-child(3),
.fixed_headers_Don_Hang th:nth-child(3) {
  min-width: 100px;
}
.fixed_headers_Don_Hang td:nth-child(4),
.fixed_headers_Don_Hang th:nth-child(4) {
  width: 150px;
}
.fixed_headers_Don_Hang td:nth-child(5),
.fixed_headers_Don_Hang th:nth-child(5) {
  width: 170px;
}
.fixed_headers_Don_Hang td:nth-child(6),
.fixed_headers_Don_Hang th:nth-child(6) {
  width: 223px;
  
}
.fixed_headers_Don_Hang td:nth-child(7),
.fixed_headers_Don_Hang th:nth-child(7) {
  width: 100px; 
}
 
.fixed_headers_Don_Hang thead {
  background-color: #585858;
  color: #FDFDFD;
}
.fixed_headers_Don_Hang thead tr {
  display: block;
  position: relative;
}
.fixed_headers_Don_Hang tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 472px;
}
.fixed_headers_Don_Hang tbody tr:nth-child(even) {
  background-color: #DDD;
}


/*het template Don Hang*/

/*templat table chi tiet don hang*/
.fixed_headers_Chi_Tiet_Don_Hang {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_headers_Chi_Tiet_Don_Hang th {
  
    padding: 5px;
  text-align: center;
  font-size: 18px;
  background: #585858 ;
}
 
.fixed_headers_Chi_Tiet_Don_Hang td {
   padding: 5px;
   
  font-size: 18px;
  background:#FFFFFF;
  
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.fixed_headers_Chi_Tiet_Don_Hang td:last-child {
  border-right: 0px;
 
}
 .fixed_headers_Chi_Tiet_Don_Hang tr:nth-child(odd) td {
  background:#EBEBEB;
}
 /*can le cho cot*/
 .fixed_headers_Chi_Tiet_Don_Hang td:nth-child(2),
  .fixed_headers_Chi_Tiet_Don_Hang td:nth-child(3),
  
 {
     text-align: center;
    vertical-align: middle;
    
 }
 
.fixed_headers_Chi_Tiet_Don_Hang td:nth-child(1),
.fixed_headers_Chi_Tiet_Don_Hang th:nth-child(1) {
  min-width: 100px;
}
.fixed_headers_Chi_Tiet_Don_Hang td:nth-child(2),
.fixed_headers_Chi_Tiet_Don_Hang th:nth-child(2) {
  min-width: 200px;
}
.fixed_headers_Chi_Tiet_Don_Hang td:nth-child(3),
.fixed_headers_Chi_Tiet_Don_Hang th:nth-child(3) {
  width: 100px;
}
 
 
.fixed_headers_Chi_Tiet_Don_Hang thead {
  background-color: #585858;
  color: #FDFDFD;
}
.fixed_headers_Chi_Tiet_Don_Hang thead tr {
  display: block;
  position: relative;
}
.fixed_headers_Chi_Tiet_Don_Hang tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 472px;
}
.fixed_headers_Chi_Tiet_Don_Hang tbody tr:nth-child(even) {
  background-color: #DDD;
}


/*table chi tiet lan nhap san pham*/

.fixed_headers_Chi_Tiet_Lan_Nhap {
  width: 600px;
   
  table-layout: fixed;
  border-collapse: collapse;
}
 
.fixed_headers_Chi_Tiet_Lan_Nhap th
  {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  background: #585858 ;
}
 
.fixed_headers_Chi_Tiet_Lan_Nhap td {
   padding: 5px;
  text-align: center;
  font-size: 18px;
  background:#FFFFFF;
  
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.fixed_headers_Chi_Tiet_Lan_Nhap td:last-child {
  border-right: 0px;
}
 .fixed_headers_Chi_Tiet_Lan_Nhap tr:nth-child(odd) td {
  background:#EBEBEB;
}

.fixed_headers_Chi_Tiet_Lan_Nhap td:nth-child(1),
.fixed_headers_Chi_Tiet_Lan_Nhap th:nth-child(1) {
  min-width: 200px;
}
.fixed_headers_Chi_Tiet_Lan_Nhap td:nth-child(2),
.fixed_headers_Chi_Tiet_Lan_Nhap th:nth-child(2) {
  min-width: 200px;
}
.fixed_headers_Chi_Tiet_Lan_Nhap td:nth-child(3),
.fixed_headers_Chi_Tiet_Lan_Nhap th:nth-child(3) {
  min-width: 200px;
}

 /*can le cho cot cuoi cung*/
  .fixed_headers_Chi_Tiet_Lan_Nhap td:nth-child(1),
  .fixed_headers_Chi_Tiet_Lan_Nhap td:nth-child(2),
 .fixed_headers_Chi_Tiet_Lan_Nhap td:nth-child(3)
 {
    text-align: center;
 }
 
 
.fixed_headers_Chi_Tiet_Lan_Nhap thead {
  background-color: #585858;
  color: #FDFDFD;
}
.fixed_headers_Chi_Tiet_Lan_Nhap thead tr {
  display: block;
  position: relative;
}
.fixed_headers_Chi_Tiet_Lan_Nhap tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 500px;
}
.fixed_headers_Chi_Tiet_Lan_Nhap tbody tr:nth-child(even) {
  background-color: #DDD;
}


/*style bang xem cac lan nhap hang, thong ke san pham*/
.table.nofill {
  border-radius:3px;
  border-collapse: collapse;
  height: 200px;
  margin: auto;
  max-width: 400px;
  padding:5px;
  width: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  padding:10px
    
}

.table.nofill th {
  color:#0000000;
  border-bottom:2px solid #27303e;
  font-size:18px;
  font-weight:400;
  vertical-align:middle;
} 

.table.nofill tr{
    border-top: 1px solid #C9D1D8;
    color: #000000;
}

.table.nofill tr:first-child{
    border-top: none;
}

.table tr:last-child{
  border-bottom: 1px solid #C9D1D8;
}

.table td{
  vertical-align: middle;
  color:#000000;
font-weight:300;
 
font-size: 18px;
line-height: 20px;
background-color: white;
  min-width:100px;
}
 

.table td:first-child{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.table td:last-child{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
border-left: 1px solid #C9D1D8 !important;
}

.table-striped tbody > tr:nth-child(2n+2) > td, .table-striped tbody > tr:nth-child(2n+2) > th {
  background-color:#fafafa;
  border:none;
}

 

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
.table.nofill td:nth-child(1),
.table.nofill th:nth-child(1) {
  min-width: 200px;
}
.table.nofill td:nth-child(2),
.table.nofill th:nth-child(2) {
  min-width: 200px;
  text-align: center;
}
 

/*table xem chi tiet lan nhap san pham*/
 .table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
 .table-fill_CT_Lan_Nhap th {
  color:#000000;;
  background:#fafafa;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:18px;
  font-weight: bold;
  padding:5px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

 .table-fill_CT_Lan_Nhap th:first-child {
  border-top-left-radius:3px;
}
 
 .table-fill_CT_Lan_Nhap th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
 .table-fill_CT_Lan_Nhap tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#000000;
  font-size:16px;
  font-weight:normal;
   
}
 
 
 .table-fill_CT_Lan_Nhap tr:first-child {
  border-top:none;
}

 .table-fill_CT_Lan_Nhap tr:last-child {
  border-bottom:none;
}
 
 .table-fill_CT_Lan_Nhap tr:nth-child(odd) td {
  background:#fafafa;
}
 
 

 .table-fill_CT_Lan_Nhap tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
 .table-fill_CT_Lan_Nhap tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
 .table-fill_CT_Lan_Nhap td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

 .table-fill_CT_Lan_Nhap td:last-child {
  border-right: 0px;
}

 .table-fill_CT_Lan_Nhap th.text-left {
  text-align: left;
}

 .table-fill_CT_Lan_Nhap th.text-center {
  text-align: center;
}

 .table-fill_CT_Lan_Nhap th.text-right {
  text-align: right;
}

 .table-fill_CT_Lan_Nhap td.text-left {
  text-align: left;
}

 .table-fill_CT_Lan_Nhap td.text-center {
  text-align: center;
}

 .table-fill_CT_Lan_Nhap td.text-right {
  text-align: right;
}

/*table xem chi tiet don hang*/
.tabledh.nofilldh {
  border-radius:3px;
  border-collapse: collapse;
  height: auto;
  margin: auto;
  min-width: 200px;
  padding:20px;
  width: 100%;
 

}

.tabledh > thead > tr > th, .tabledh > tbody > tr > th, .tabledh > tfoot > tr > th, .tabledh > thead > tr > td, .tabledh > tbody > tr > td, .tabledh > tfoot > tr > td{
  padding:15px
    
}

.tabledh.nofilldh th {
  color:#27303e;
  border-bottom:2px solid #27303e;
  font-size:18px;
  font-weight:400;
  line-height: 20px;
  vertical-align:middle;
} 

.tabledh.nofilldh tr{
    border-top: 1px solid #C9D1D8;


}

.tabledh.nofilldh tr:first-child{
    border-top: none;
}

.tabledh tr:last-child{
  border-bottom: 1px solid #C9D1D8;
}

.tabledh td{
  vertical-align: middle;
  color:#576475;
font-weight:400;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
font-size: 16px;
background-color: white;
  min-width:100px;
}
 

.tabledh td:first-child{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-right: 1px solid #C9D1D8 !important;
}

.tabledh td:last-child{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
border-left: 1px solid #C9D1D8 !important;
}

.table-stripeddh tbody > tr:nth-child(2n+2) > td, .table-stripeddh tbody > tr:nth-child(2n+2) > th {
  background-color:#fafafa;
  border:none;
}

 

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
.tabledh.nofilldh td:nth-child(1),
.tabledh.nofilldh th:nth-child(1) {
  min-width: 80px;
}
.tabledh.nofilldh td:nth-child(2),
.tabledh.nofilldh th:nth-child(2) {
  min-width: 100px;
  border-left: 1px solid #C9D1D8 !important;
  
}
 .tabledh.nofilldh td:nth-child(3),
.tabledh.nofilldh th:nth-child(3) {
  min-width: 120px;
  border-left: 1px solid #C9D1D8 !important;
}
 .tabledh.nofilldh td:nth-child(4),
.tabledh.nofilldh th:nth-child(4) {
  min-width: 140px;
  border-left: 1px solid #C9D1D8 !important;
}
 .tabledh.nofilldh td:nth-child(5),
.tabledh.nofilldh th:nth-child(5) {
  min-width: 80px;
  border-left: 1px solid #C9D1D8 !important;
  
}
 .tabledh.nofilldh td:nth-child(6),
.tabledh.nofilldh th:nth-child(6) {
  min-width: 160px;
  
}


.fixed_headers_San_Pham .caretSanPham
{
  
  color: yellow;
  text-align: right;
  
}

#tongthanhtiendonhang
{
  font-size: 20px;
  font-weight: bold;
}