#divContentChinhSuaSanPham
{
	padding: 30px;
	 
}
 .formChinhSuaSanPham h5
 {
 	color: #7fcbc9;
 	text-align: center;
 }

.formDialogXoaSanPham
{
	width: 400px;
}
 .divXoaSanPham
 {
 	padding: 30px;
 }