@import url(http://fonts.googleapis.com/css?family=Sofadi+One);
@import url(http://fonts.googleapis.com/css?family=Elsie);
/* Set fullscreen */
html, body {
  height: 100%; }

img {
  max-width: 100%;
	}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* clearfix hack */
.cf {
  *zoom: 1; }
  .cf::after {
    clear: both; }
  .cf::before, .cf::after {
    content: " ";
    display: table; }

.section-1 {
  background: url("http://wallpaper.zone/img/3061072.jpg") no-repeat center top;
 background-size: 100% ;
 height: 400px;
 font-family: 'PT Sans Narrow', sans-serif; }
  .section-1 .greeting-content {
    
    margin: 20px 50px;
    }
    



.section-2 {
  position: relative;
  height: 450px;
  background: url("http://www.pandora.net/-/media/Images/Consumer/Magazine/The-April-Issue/COVER/Cover_BACKGROUND.jpg?h%5Cu003d768%5Cu0026la%5Cu003den-US%5Cu0026w%5Cu003d1600") no-repeat 50% 0 fixed;
  font-family: 'PT Sans Narrow', cursive;
  overflow: hidden; }
  .section-2 #sherlock-img {
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    right: 50px; }
  .section-2 .sherlock {
    /*background: rgba(192, 57, 43, 0.8);*/
    position: absolute;
    z-index: 1;
    left: 100px;
    width: 600px;
    font-size: 18px; }

.section-3 {
  position: relative;
  height: 900px;
  background: url("../img/appleinc.jpg") no-repeat 50% 0 fixed;
  font-family: 'Elsie', cursive;
  overflow: hidden; }
  .section-3 #steve-img {
    margin: 0 auto;
    z-index: 200;
    position: absolute;
    right: 0px; }

 
