#picPanel
{
	width:1270px;
	height:350px;
}
.mdtoolbar
{
	padding-left : 20px;
	padding-right: 20px;
  
}
 a:hover
{
color:#ccc;

}
a,a:hover,a:focus,a:active
{
border:0;
outline:0;
text-decoration:none;
}

 
 
.md-icon-button .toolbarIcon
{
	margin-top: -10px;
	margin-left: -10px;
	font-size: 28px;
  color: #ffffff;
}

.sidenavButton
{
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
}
.imgContent
{
	width:100%;
	height: 250px;
}

.cardTitleSanPham
{
	padding-bottom:10px;
	font-family: Gill Sans, Verdana;
  font-size: 18px;
  line-height: 18px;

   
}
.cardContentSanPham
{
	color: #7FCBC9;
	padding-top: 20px;
	font-size: 22px;
	font-weight: bold;
  text-align: right;
}
footer
{
	background-color:#7FCBC9;
}
.footerDiaChi
{
	color: white;

}
.footerCopyright
{
	height:100px;
}
 

.divFormLogin
{
	 background-color: #ffffff; 
	 padding-left: 70px;
	 padding-right: 70px;
	 padding-bottom: 40px;
	 padding-top: 20px;
}
 .divFormLogin .buttonFormDangNhap
{
	  background-color: #636072;
	  color: white;
}
 .divFormLogin .buttonFormDangNhap:hover {
  background-color: #636072;
  color: black;
}
.divFormLogin .divRegisterForgot
{
	padding-top: 15px;
}

.divFormLogin .titleFormLogin
{
	color: #48474e;
}

 .container-sanpham
 {
  justify-content: space-between;  
 }

 .cardSanPham:hover .imageSanPham {
-webkit-transform:scale(1.25);
transform:scale(1.25, 1.05);
}


.cardSanPham {
overflow:hidden;

   
width:279px; 
height: 430px;
}
 .imageSanPham
 {
  width: 100%;
  height: 250px;

 }

.imageSanPham
{
> img,
> :not(md-card-content) img {
box-sizing: border-box;
display: flex;
flex: 0 0 auto;
width: fill;
height: 100% !important;
 }
 -webkit-transition: all 0.7s ease;
transition: all 0.7s ease;


}
/*cursor Main SanPham*/
 .imageSanPham
 {
  /*cursor: help;*/
 }

.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;

}
/*menu Trang chu, sanPham, gioi thieu*/
.menu ul li
{ list-style:none; float:left; font-size:18px;
 padding-top:20px;
	 padding-bottom: 20px;
	 padding-left: 10px;
	 padding-right: 10px;

  }
.menu ul li a
{color:#ffffff; text-decoration:none; padding-top:20px;
	 padding-bottom: 20px;
	 padding-left: 10px;
	 padding-right: 10px;}
.menu ul li a:hover{ 
	 color:#7FCBC9; 
	padding-top:20px;
	 padding-bottom: 20px;
	 padding-left: 10px;
	 padding-right: 10px;}
.menu ul li a.active{ background:#9E9E9E; padding-top:20px;
	 padding-bottom: 20px;
	 padding-left: 10px;
	 padding-right: 10px;}

#iconTaiKhoan
{
  color: #ffffff;
}
#iconTaiKhoan : hover
{
  color: #7FCBC9;
}
/*Sidenav moi*/
.sidenavDanhMuc {
  width: 17%;
  min-width: 230px;
  max-width: 230px;
  height: 100%;
  background-color: #F5F5F7;
  position: fixed;
  top: 50px;
  float: left;
  height:auto;
 
   
}
.sidenavDanhMuc a {
  display: block;
  line-height: 40px;
  border-right: 4px solid transparent;
  cursor: pointer;
  transition: background-color .3s linear,
              border-right-color .3s linear,
              color .3s linear;
  
  color: black;
  padding: 0 0 0 0px;
  font-weight: 300;
  /*
  text-transform: uppercase; */
  text-decoration: none;
 /* letter-spacing: 1px;*/
}
.sidenavDanhMuc a:hover,
.sidenavDanhMuc a.current { 
  background-color: #d3ebf9;
  border-right-color: #7FCBC9;
  
  color: black;
}

/*.sidenavDanhMuc a.active
  { 
  background-color: #d3ebf9;
  border-right-color: #7FCBC9;
  
  color: black;
}*/

.sidenavDanhMuc .SubHeaderDanhMuc
{
  background-color: #7FCBC9;
  font-size: 16px;
  color: white;

}
/*search button*/
#wrap {
  margin: 0px 0px;
  display: inline-block;
  position: relative;
  height: 40px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 40px;
  font-size: 20px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 30;
  border: none;
  outline: none;
  color: #ffffff;/*color search box*/
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #ffffff;
}

input[type="text"]:focus {
  width: 320px;
  z-index: 1;
  border-bottom: 1px solid #ffffff;
  cursor: text;
}
input[type="submit"] {
  height: 60px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
 
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
 /*end Search button/

/*toolbar color Sidenav SM*/
#toolbarSidenavSM
{
  background-color: #7FCBC9;
}
 /*chi tiet san pham*/
 

 /*button fab de lai tin nhan*/
#buttonMessage{
  top: auto;
  right: 10px;
  bottom: 10px;
  left: auto;
  position: fixed;
  background-color: #7FCBC9;
}
#buttonUp{
  top: auto;
  right: 10px;
  bottom: 60px;
  left: auto;
  position: fixed;
  width: 40px;
  height: 40px;
 opacity: 0.4;
    background-color: #fafafa;
}
#buttonUp:hover
{
  top: auto;
  right: 10px;
  bottom: 60px;
  left: auto;
  position: fixed;
  width: 40px;
  height: 40px;
 opacity: 15;
    background-color: #fafafa;
}
#iconUp
{
  color: #141414;
}
 

/*bang gio hang*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #ebebeb;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/*** Table Styles gio hang **/
.table.nofill {
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  padding:22px
    
}

.table.nofill th {
  color:#27303e;
  border-bottom:2px solid #27303e;
  font-size:23px;
  font-weight:400;
  vertical-align:middle;
} 

.table.nofill tr{
    border-top: 1px solid #C9D1D8;
}

.table.nofill tr:first-child{
    border-top: none;
}

.table tr:last-child{
  border-bottom: 1px solid #C9D1D8;
}

.table td{
  vertical-align: middle;
  color:#576475;
font-weight:400;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
font-size: 16px;
background-color: white;
  min-width:100px;
}
 

.table td:first-child{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.table td:last-child{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
border-left: 1px solid #C9D1D8 !important;
}

.table-striped tbody > tr:nth-child(2n+2) > td, .table-striped tbody > tr:nth-child(2n+2) > th {
  background-color:#fafafa;
  border:none;
}

.table-striped td .imageSanPhamGioHang
{
  width: 100px; height: 100px;
}

.table-striped td .tableSoLuongGioHang
{
  margin-left: 0px; margin-top: 0px;
}
.table-striped td .tableSoLuongGioHang td
{
  padding: 10px;
}
.table-striped td .tableSoLuongGioHang td .inputSoLuongGioHang
{
  width: 50px;
   height: 35x; 
  text-align: right;
   font-size: 18px;
}
th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
.table.nofill td:nth-child(1),
.table.nofill th:nth-child(1) {
  min-width: 5px;
}
.table.nofill td:nth-child(2),
.table.nofill th:nth-child(2) {
  min-width: 350px;
}
.table.nofill td:nth-child(3),
.table.nofill th:nth-child(3) {
  min-width: 250px;
}
.table.nofill td:nth-child(4),
.table.nofill th:nth-child(4) {
  min-width: 150px;

}

.table.nofill td:nth-child(5),
.table.nofill th:nth-child(5) {
  min-width: 250px;
}
.table.nofill td:nth-child(3),
.table.nofill td:nth-child(5)
{
  color: #7fcbc9;
  font-size: 20px;
  font-weight: bold;
}
 
/* het style bang gio hang*/


 /*slide hinh noi bat*/
 
.hinhNen{
    overflow: hidden;
    height: 300px;  
}

.hinhNen > img{
    height: 100%;
    width: 100%;
}
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1.5s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}


#buttonFacebook {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 50px;
    height: 50px;
    outline: none;
     background-color: Transparent;
     
}
#iconFacebook
{
  font-size: 40px;
  color: #2B282B;
}

#buttonFacebook:hover {
    /*background-color: #1c1c1c; /* Green */*/
    color: white;
}

.buttonThemVaoGioHang
{
  background-color: #7FCBC9;
}


/*number page*/

/*slide phong to*/


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
     
    padding: 8px 8px;
    text-decoration: none;
    display: block;
   
}

.dropdown-content a:hover {background-color: #ffffff;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btndanhmucsanpham {
   /* background-color: #7FCBC9;
    color: #000000;*/
}
.dropdown {
    position: relative;
    display: inline-block;
}

 .dropdown-content .danhmucsanpham
 {
  color: #000000;
  font-size: 14px;
  text-align: left;
   line-height: 1px;
   font-family: 'PT Sans Narrow', sans-serif;
 }

 .danhmucmenu
 {
  text-transform: uppercase;
  font-size:1em;
  color:#000;
  margin-bottom: 3px;
 }

 .h2TextContent{
  color: #7FCBC9;
  font-size: 48px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  margin-bottom:0.5em;
   text-align:center;
}


/*logo pqsilver*/

#logo h1{
    font-size:48px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 700px;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 5px;
}
span.m_1 {
  color:#7FCBC9;
}
 
#logo h1 a{
  color:#fff;
}

/*user login*/
ul.header_user_info {
  float: right;
  border-right: 1px solid #555;
  width:50%;
  padding:0;
  min-height: 30px;
}
ul.header_user_info a{
  color:#ffffff;
}
ul.header_user_info a:hover{
  color:#fd926d;
}
ul.header_user_info a:hover{
  text-decoration:none;
  color:#7FCBC9;
}
 
ul.header_user_info li {
  display: block;
  font-size: 12px;
    text-transform: uppercase;
  cursor: pointer;
  /* background: #fb5c22; */
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  float: right;
  margin-top:6px;
}
  
 .header_top_right{
  float:right;
  width:18%;
}
 

 /*slide phong to hinh anh*/
#sliderhinhanh {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#sliderhinhanh ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#sliderhinhanh ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


.formSanPham .buttonAction
{
   padding-left: 15px;     
    padding-right: 15px;     
    justify-content: space-between;        
}

.formSanPham .buttonMuaHang
{
  background-color: #7FCBC9;

}
 .formSanPham .buttonMuaHang1
{
  background-color: #7FCBC9;

}
 
.formSanPham .buttonMuaHang:not([disabled]):hover
{
 /* background-color: #141414;
  color: #ffffff;
*/

 background-color: #7FCBC9;

  -webkit-transform: translate3d(0,-8px,0);
-moz-transform: translate3d(0,-8px,0);
-ms-transform: translate3d(0,-8px,0);
-o-transform: translate3d(0,-8px,0);
transform: translate3d(0,-8px,0);
}
 .formSanPham .buttonMuaHang1:not([disabled]):hover
{
 /* background-color: #141414;
  color: #ffffff;
*/

 background-color: #7FCBC9;

  -webkit-transform: translate3d(0,-8px,0);
-moz-transform: translate3d(0,-8px,0);
-ms-transform: translate3d(0,-8px,0);
-o-transform: translate3d(0,-8px,0);
transform: translate3d(0,-8px,0);
}
 

 


 


.formSanPhamTheoLoai .buttonMuaHang
{
  background-color: #7FCBC9;

}

.formSanPhamTheoLoai .buttonMuaHang:not([disabled]):hover
{
  /*background-color: #141414;
  color: #ffffff;*/

   background-color: #7FCBC9;
 
  -webkit-transform: translate3d(0,-8px,0);
-moz-transform: translate3d(0,-8px,0);
-ms-transform: translate3d(0,-8px,0);
-o-transform: translate3d(0,-8px,0);
transform: translate3d(0,-8px,0);
}


.formTrangChu .cardSanPham .buttonMuaHang
{
  background-color: #ffffff;

}
.formTrangChu .cardSanPham .buttonMuaHang:not([disabled]):hover
{
  //background-color: #141414;
  color: #7FCBC9
   
}

.quantity-style{
  text-align: center;  
  min-width: 38px; 
  max-width: 38px;
}

.quantity-wrapper{
  width: 38px; 
}

/*button dat mua bang gio hang*/
#buttonDatMua
{
  width: 200px;
height: 50px;
 
outline: none;
 padding: 2px;
background-position: 0 0;
border: none;
 
background-color: #7FCBC9;
color: #ffffff;
font-size: 20px;
 

-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
transition: all .3s ease;
border-radius: 3px;
margin: 0 5px;
cursor: pointer;
}

#buttonDatMua:hover
{
-webkit-transform: translate3d(0,-8px,0);
-moz-transform: translate3d(0,-8px,0);
-ms-transform: translate3d(0,-8px,0);
-o-transform: translate3d(0,-8px,0);
transform: translate3d(0,-8px,0);
background-color: #141414;
color: #ffffff;
}

#textTongCong
{
  font-size: 22px;
  font-weight: 100;

}

/*phong to hinh anh slide*/
.slider {
    width: 900px;
    height: 500px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
  /*  border: 20px solid #FFF;
    margin-top: 20px;*/
}

.slider  {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}


 
#formBig {
  width: 900px;
    height: 500px;
    
}



/*pagination Number*/
@import "compass/css3";

 
.paginationNuamber {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

.btnpag {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; 
  background-color: #d9534f;
  color: white;
  outline: 0;
  text-decoration: none;
  transition: all .1s linear;
  margin-right: 10px;
  &:hover {
    background-color: darken(#d9534f, 5%);
  }
}
.btnpag.active
{
   position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; 
  background-color: #7FCBC9;
  color: white;
  outline: 0;
  text-decoration: none;
  transition: all .1s linear;
  margin-right: 10px;
  &:hover {
    background-color: darken(#d9534f, 5%);
  }
}

.btn-next {
  border-radius: 4px 0 0 4px; 
  margin-right: 18px;
  transition: all .1s linear;
  
  &:hover::after {
    border-left: 17px solid darken(#d9534f, 5%);
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -18px;
    width: 0; 
    height: 0; 
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #d9534f;
  }
}

.btn-prev {
  border-radius: 0 4px 4px 0; 
  margin-left: 18px;
  transition: all .1s linear;

  &:hover::after {
    border-right: 17px solid darken(#d9534f, 5%);
  }
  
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -18px;
    width: 0; 
    height: 0; 
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-right: 17px solid #d9534f;
  }
}

/*chi tiet san pham*/
.divFormCTSanPham
{
  padding-left: 60px; 
  padding-top: 30px; 
  padding-bottom: 30px;
  padding-right: 40px;
  /*background-color: #7FCBC9;*/
  width: 700px;
}
.divFormCTSanPham .divImage
{
 /* background-color: yellow;*/
}
.divFormCTSanPham .divImage .BigImageCT
{
  height: 300px;
  width: 1000px;
}
.divFormCTSanPham .divImage .divSmallImage
{
  padding-top: 15px;
}

 .divImage .divSmallImage .SmallImage
{
  height: 100px; 
  width: 100px;
 
}
 .divImage .divSmallImage .SmallImage.active
{
  border:4px solid #7FCBC9;
 
}

.divFormCTSanPham .divThongTin .pTenSanPham
{
  font-size: 22px; 
  line-height: 22px;
}
.divFormCTSanPham .divThongTin .pMaSanPham
{

  font-size: 18px; 
  line-height: 18px;
}
.divFormCTSanPham .divThongTin .pGiaSanPham
{
  color: #7FCBC9; 
  font-size: 26px;
  line-height: 12px;
  font-weight: bold
}
.divFormCTSanPham .divThongTin .pMoTa
{
  font-size: 16px;
}

.divFormCTSanPham .divThongTin .tableThemSoLuongSanPham
{
  margin-left: 0px; margin-top: 0px;
}
.divFormCTSanPham .divThongTin .tableThemSoLuongSanPham tr td
{
  padding: 10px;
}

.divFormCTSanPham .divThongTin .tableThemSoLuongSanPham tr td .inputSoLuongSanPham
{
  width: 50px; height: 35x; text-align: right; font-size: 18px;
}

.divFormCTSanPham .divThongTin .buttonMuaHangSanPham
{
  background-color: #7FCBC9;

}
 .buttonMuaHangSanPham:not([disabled]):hover
{
  background-color: #141414;
  color: #ffffff;
}
 
 .numbertable
{
  border: 1px solid black;
  height: 30px;
  width: 100px;
   padding: 50px;
}

 
#BigPicture
{
 
}

#divGioHangDatHang
{
  padding-right: 70px;
  margin-top: 20px;
}

.formMainDatMuaGioHang
{
  width: 400px; height: 400px;
}
.formMainDatMuaGioHang .toolbarDatMua
{
  background-color: #7FCBC9;
}
#divThongTinDonHang
{
  padding-left: 20px;
 padding-right: 20px;
}

.formSanPham .sidenavDanhMuc .toolbarSidenav
{
  background-color: #7FCBC9;
}

.formSanPham .sidenavDanhMuc .aSidenaveSanPham
{
  padding-left: 20px;
}

.formSanPham .sidenavDanhMuc .sapxepactive.active
{
  /*background-color: #7FCBC9*/
 background-color: #d3ebf9;
  border-right-color: #7FCBC9;
  
  color: black;
}

/*form main tin nhan*/
.formMainTinNhan
{
  width: 400px; height: auto;

}
.formMainTinNhan .toolbarTinNhan
{
  background-color: #7FCBC9;
}

#divTinNhan
{
  padding-left: 20px;
  padding-right: 20px;
   
  /*background-color: yellow;*/
}


.formMainDangKyTaiKhoan
{
  width: 700px; height: auto;

}

.formMainDangKyTaiKhoan .toolbarDangKyTaiKhoan
{
  background-color: #7FCBC9;
}
#divDangKyTaiKhoan
{
  padding-left: 20px;
  padding-right: 20px;
   
  /*background-color: yellow;*/
}


 /*size screen device*/
 @media screen and (max-width: 1024px) { 


#logo h1{
    font-size:46px;
    text-transform: uppercase;
    margin-top: 45px;
    margin-left: 500px;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 5px;
}
          .cardSanPham {
        overflow:hidden;

           
        width:200px; 
        height: 300px;
        }
         .imageSanPham
         {
          width: 100%;
          height: 170px;

         }

        .imageSanPham
        {
        > img,
        > :not(md-card-content) img {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        width: fill;
        height: 100% !important;
         }
         -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;


        }

        .cardTitleSanPham
      {
        padding-bottom:5px;
        font-family: Gill Sans, Verdana;
        font-size: 14px;
        line-height: 14px;

         
      }
      .cardContentSanPham
      {
        color: #7FCBC9;
        padding-top: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: right;
      }
    .formSanPham   .buttonAction
      {
          padding-left: 0px;     
         padding-right: 0px;  
        margin-left: 0px;
        justify-content: space-between;
        margin-top: -10px;
      }
      .formSanPham .buttonMuaHang
        {
           min-height: 28px;
          
          background-color: #7FCBC9;
          font-size: 12px;
          min-width: 80px;
          height: 4px;
          display: table-cell;
    vertical-align: middle;
          
          
        }
       .formSanPham .buttonMuaHang1
        {
            min-height: 28px;
          
          background-color: #7FCBC9;
          font-size: 12px;
          min-width: 100px;
          height: 4px;
          display: table-cell;
    vertical-align: middle;
          
          
        }

    
 
         
 }


 /*size screen device*/
 @media screen and (max-width: 960px) { 



#logo h1{
    font-size:48px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 400px;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 5px;
}
 
          .cardSanPham {
        overflow:hidden;

           
        width:279px; 
        height: 430px;
        }
         .imageSanPham
         {
          width: 100%;
          height: 250px;

         }

        .imageSanPham
        {
        > img,
        > :not(md-card-content) img {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        width: fill;
        height: 100% !important;
         }
         -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;


        }

      .cardTitleSanPham
      {
        padding-bottom:10px;
        font-family: Gill Sans, Verdana;
        font-size: 18px;
        line-height: 18px;

         
      }
      .cardContentSanPham
      {
        color: #7FCBC9;
        padding-top: 20px;
        font-size: 22px;
        font-weight: bold;
        text-align: right;
      }
    .formSanPham   .buttonAction
      {
          padding-left: 15px;     
         padding-right: 15px;  
        margin-left: 0px;
        justify-content: space-between;
        margin-top: -10px;
        
          
      }
      .formSanPham .buttonMuaHang
        {
          min-height: 32px;
          
          background-color: #7FCBC9;
          font-size: 14px;
          width: 20px;
         min-width: 110px;
          display: table-cell;
    vertical-align: middle;
          
          
        }

        .formSanPham .buttonMuaHang1
        {
              min-height: 32px;
          
          background-color: #7FCBC9;
          font-size: 14px;
          width: 20px;
         min-width: 110px;
          display: table-cell;
    vertical-align: middle;
   
        }

  
 
         
 }

  /*size screen device*/
 @media screen and (max-width: 600px) { 


#logo h1{
    font-size:40px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 200px;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 5px;
}
 
          .cardSanPham {
        overflow:hidden;

           
        width:210px; 
        height: 315px;
        }
         .imageSanPham
         {
          width: 100%;
          height: 178px;

         }

        .imageSanPham
        {
        > img,
        > :not(md-card-content) img {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        width: fill;
        height: 100% !important;
         }
         -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;


        }

        .cardTitleSanPham
      {
        padding-bottom:5px;
        font-family: Gill Sans, Verdana;
        font-size: 14px;
        line-height: 14px;

         
      }
      .cardContentSanPham
      {
        color: #7FCBC9;
        padding-top: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: right;
      }
    .formSanPham   .buttonAction
      {
          padding-left: 0px;     
         padding-right: 0px;  
        margin-left: 0px;
        justify-content: space-between;
        margin-top: -10px;
      }
      .formSanPham .buttonMuaHang
        {
           min-height: 28px;
          
          background-color: #7FCBC9;
          font-size: 12px;
          min-width: 80px;
          height: 4px;
          display: table-cell;
    vertical-align: middle;
          
          
        }

           .formSanPham .buttonMuaHang1
        {
             min-height: 28px;
          
          background-color: #7FCBC9;
          font-size: 12px;
          min-width: 100px;
          height: 4px;
          display: table-cell;
    vertical-align: middle; 
          
        }
   
 
         
 }

  /*size screen device*/
 @media screen and (max-width: 480px) { 

#logo h1{
    font-size:40px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 80px;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 5px;
}

 .container-sanpham
 {
  justify-content: center;  

 }

          .cardSanPham {
        overflow:hidden;

           
        width:260px; 
        height: 390px;
        }
         .imageSanPham
         {
          width: 100%;
          height: 220px;

         }

        .imageSanPham
        {
        > img,
        > :not(md-card-content) img {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        width: fill;
        height: 100% !important;
         }
         -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;


        }

        .cardTitleSanPham
      {
        
        font-family: Gill Sans, Verdana;
        font-size: 18px;
        line-height: 18px;

         
      }
      .cardContentSanPham
      {
        color: #7FCBC9;
        padding-top: 10px;
        font-size: 22px;
        font-weight: bold;
        text-align: right;
      }
    .formSanPham   .buttonAction
      {
          padding-left: 0px;     
         padding-right: 0px;  
        margin-left: 0px;
        justify-content: space-between;
        margin-top: -10px;
      }
      .formSanPham .buttonMuaHang
        {
           min-height: 30px;
          
          background-color: #7FCBC9;
          font-size: 14px;
          min-width: 100px;
          height: 4px;
          display: table-cell;
    vertical-align: middle;
          
          
        }

           .formSanPham .buttonMuaHang1
        {
             min-height: 30px;
          
          background-color: #7FCBC9;
          font-size: 14px;
          min-width: 120px;
          height: 4px;
          display: table-cell;
        vertical-align: middle; 
          
        }

 
 
 
         
 }

 #iconfacebook
 {
  width: 45px;
  height: 45px;
 }