<!DOCTYPE html>
<html>
<head>
	<title>Exam</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script language="javascript" src="angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/AdminStyle.css">
		  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css'>

 	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script> 
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script language="javascript" src="js/AdminJavaScript.js"></script>
</head>
<body  ng-app ="myApp1" ng-controller="AppCtrl1" layout="column">
	 
	 <md-toolbar class="md-accent" layout="row" layout-align="center center">
	 <md-button class="md-icon-button" hide-gt-sm ng-click="openSidenavLeft('left')">
	 	<md-icon class="material-icons">menu</md-icon>
	 </md-button>
		<h4  class="TitlePage">Admin - Bac Phu Quy</h4>
		<span flex></span>
			 <md-button class="md-icon-button"  >
	 	<md-icon class="material-icons">shopping_cart</md-icon>
	 </md-button>
		 <md-button class="md-icon-button"  >
	 	<md-icon class="material-icons">email</md-icon>
	 </md-button>
		<md-menu md-position-mode="target-right target">
			<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More">
				<md-icon class="material-icons" style="width: 36px;">person</md-icon>
			</md-button>

			<md-menu-content width="2">
				<md-menu-item  >
					 <md-button>
					 	<div layout="row" flex="">
					 		<md-icon class="material-icons">person</md-icon>
					 		<p flex="">User Profile</p>
					 	</div>
					 </md-button>
				</md-menu-item>
				<md-menu-item>
					 	 <md-button>
					 	<div layout="row" flex="">
					 		<md-icon class="material-icons">settings</md-icon>
					 		<p flex="">Settings</p>
					 	</div>
					 </md-button>
				</md-menu-item>
				<md-menu-item>
					 <md-divider></md-divider>
				</md-menu-item>
				<md-menu-item>
					 	 <md-button href="login.html">
					 	<div layout="row" flex="">
					 	<md-icon class="material-icons" >exit_to_app</md-icon> 
					 		<p flex="">Dang xuat</p>
					 	</div>
					 </md-button>
				</md-menu-item>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</md-toolbar>
	 <div layout="row" layout-padding flex>
	  <md-sidenav class="md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left"  md-is-locked-open="$mdMedia('gt-sm')"> 
	 	<div class="user" layout="row">
	 		<img src="image/user.jpg">
	 		<div layout="column">
	 			<div>Admin User</div>
	 		<p>Online</p>

	 		</div>
	 	</div>
	 	 	<md-divider></md-divider>
	 	<md-button   >
	 	<div layout="row" flex="" style="margin: -10px;"> 
	 		<md-icon class="material-icons">dashboard</md-icon>
	 		 <p flex="">San pham</p>
	 	</div>
	 	</md-button>
	 	 	<md-divider></md-divider>
	 	<md-button>
	 		<div layout="row" flex="" style="margin: -10px;">
	 			<md-icon class="material-icons">shopping_cart</md-icon>
	 			<p flex="">Don hang</p>
	 		</div>
	 	</md-button>
	 	<md-divider></md-divider>
	 		 	<md-button>
	 		<div layout="row" flex="" style="margin: -10px;">
	 			<md-icon class="material-icons">email</md-icon>
	 			<p flex="">Tin nhan</p>
	 		</div>
	 	</md-button>
	 	 	<md-divider></md-divider>
	 	 	<md-button>
	 		<div layout="row" flex="" style="margin: -10px;">
	 			<md-icon class="material-icons">people</md-icon>
	 			<p flex="">Khach hang</p>
	 		</div>
	 	</md-button>
	 </md-sidenav>
	 <md-content  flex>
	 	 <div ng-forma layout-padding></div>
	 </md-content>
	 </div>
</body>
</html>