<!DOCTYPE html>
<html>
<head>
	<title>PQSilver - Bac Phu Quy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script language="javascript" src="angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/MainStyle.css">
	
 	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
     
<script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
     
      <script src="bower_components/angular-material/angular-material.min.js"></script>
       <script src="bower_components/angular-route/angular-route.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<!-- page number -->
    

	<!-- het page number -->
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel"stylesheet" type="text/css" href="css/MainThemTinNhan.css">
	 <link rel="stylesheet" type=="text/css" href="css/MainChiTietSanPhamForm.css">

	<script language="javascript" src="js/MainJavaScript.js"></script>
	<script src="js/jquery.min.js"></script>

   


	<script src="js/parallax.js"></script>
 	<script src="js/MainGioHang.js"></script>
 	<script src="js/MainTinNhan.js"></script>
 	<script src="js/MainSanPhamTheoLoai.js"></script>
 	<script src="js/MainSlideBigImage.js"></script>
 	<script src="js/MainLogin.js"></script>


 <!-- bootstrap -->
 <!-- big image -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    
    <link rel="stylesheet" href="bower_components/angular-notification-icons/angular-notification-icons.min.css">
    
    <script src="bower_components/angular-notification-icons/angular-notification-icons.min.js"></script>

</head>
<body  ng-app ="myApp" ng-controller="AppCtrl" layout="column">
<header>
 
	<div class="section-1 cf"  >
		<div class="greeting-content" layout="column">
		<div>
			
			<span flex ng-hide="authDataFB"></span>
			 <div class="header_top_right">
				<ul class="header_user_info" >
				  	<div ng-show="authDataFB" layout="row" >
              			<p style="color: white;">{{ authDataFB.facebook.displayName }} {{TenTaiKhoanDangNhap}}</p>
              			 
              	<md-menu md-position-mode="target-right target">
					<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More">
						<md-icon class="material-icons" style="width: 36px;color:white;">arrow_drop_down</md-icon>
					</md-button>
					<md-menu-content width="2">
						<md-menu-item  >
				 			<md-button ng-click="MainLogout()">
				 				<div layout="row" flex="">
				 					<md-icon class="material-icons">exit_to_app</md-icon>
					 					<p flex="">Logout</p>
				 				</div>
				 			</md-button>
						</md-menu-item>
					 
					</md-menu-content>
				</md-menu>
            		</div>
					  <a class="login" ng-click="MainOpenDialogLogin()" ng-hide="authDataFB">
						<md-icon class="material-icons usericon"  style="color: #ffffff;">person</md-icon>
						<li class="user_desc">My Account</li>
					  </a>
					  <div class="clearfix"> </div>
		    	</ul>
		   	 	</div>
		  </div>
		 
			<div layout="row">

		 		<md-button   class="toolbarButton md-icon-button"  ng-click="motab('left')"  hide-gt-sm >
					<md-icon class="material-icons toolbarIcon md-light" style="color: #ffffff;">menu</md-icon>
				</md-button>
				<div class="menu" >
					<ul hide show-gt-sm  >
					<li  ><a href="#trangchu" class="danhmucmenu">{{DanhMucMenu[0].danhmuc}}</a>
					</li>
					<li  class="dropdown">
						<a href="#sanpham" class="btndanhmucsanpham danhmucmenu">{{DanhMucMenu[1].danhmuc}}</a>
						<div class="dropdown-content">
						    <a href="#sanpham/Nhan" class="danhmucsanpham">{{DanhMucSanPham[0].loaisanpham}}</a>
						    <a href="#sanpham/DayChuyen" class="danhmucsanpham">{{DanhMucSanPham[1].loaisanpham}}</a>
						    <a href="#sanpham/LacTay" class="danhmucsanpham">{{DanhMucSanPham[2].loaisanpham}}</a>
						    <a href="#sanpham/LacChan" class="danhmucsanpham">{{DanhMucSanPham[3].loaisanpham}}</a>
						    <a href="#sanpham/HoaTai" class="danhmucsanpham">{{DanhMucSanPham[4].loaisanpham}}</a>
			 			 </div>
					</li>
					<li  ><a href="#gioithieu" class="danhmucmenu">{{DanhMucMenu[2].danhmuc}}</a></li>
					<li  ><a href="#lienhe" class="danhmucmenu">{{DanhMucMenu[3].danhmuc}}</a></li>
					<li  ><a href="#dosizenhan" class="danhmucmenu">{{DanhMucMenu[4].danhmuc}}</a></li>
					</ul>
					
				</div>

				<span flex=""></span>

	 <div layout="row" >
			<div id="wrap">
			  <form action="" autocomplete="on">
			  <input id="search" name="search" type="text" placeholder="Tìm kiếm" ng-model="SearchSanPham" ><md-button class="toolbarButton md-icon-button">
					<md-icon class="material-icons toolbarIcon">search</md-icon>
					</md-button>
			 	 </form>
			</div>
			 
			
			 
    <notification-icon animation="bounce" disappear-animation="bounce" count="SoLuongSanPhamGioHangDem" always-show="true">
                       	<md-button class="toolbarButton md-icon-button" href="#giohang">
					<md-icon class="material-icons toolbarIcon danhmucmenu">shopping_cart</md-icon>
			</md-button>
                    </notification-icon>
			
		  </div>

			</div>

		 <div id="logo">
		  <h1><a href="index.html"><span class="m_1">P</span>Q SILVER</a></h1>
	   	</div>
		</div>
	</div>

</header>
	<main>
	 
	<div class="container" style="padding-top: 15px; padding-left: 50px; padding-right: 50px; padding-bottom: 20px;"  >
 		
 	<div layout="column">
		<md-sidenav   class="md-sidenav-left md-whiteframe-z2 sidenavDanhMuc" layout="column" md-component-id="left"  md-is-locked-open="$mdMedia('gt-sm')"  hide-gt-sm> 
			<div hide-gt-sm>
				<md-toolbar style="background-color: #7FCBC9;">
        		<div class="md-toolbar-tools">
        		  <h2>{{TenShop}}</h2>
          
      			  </div>
 				</md-toolbar>
       		 	<span flex></span>
				<a style="padding-left: 20px;" href="#trangchu">{{DanhMucMenu[0].danhmuc}}</a>
				<a style="padding-left: 20px;" href="#sanpham">{{DanhMucMenu[1].danhmuc}}</a>
				<a style="padding-left: 20px;" href="#gioithieu">{{DanhMucMenu[2].danhmuc}}</a>
				<a style="padding-left: 20px;" href="#lienhe">{{DanhMucMenu[3].danhmuc}}</a>
				<a style="padding-left: 20px;" href="#dosizenhan">{{DanhMucMenu[4].danhmuc}}</a>
				<md-divider></md-divider>
			</div  >
			<div >
			  <!-- <md-subheader class="SubHeaderDanhMuc">San pham</md-subheader> -->
				  <a style="padding-left: 20px;" href="#sanpham/Nhan">{{DanhMucSanPham[0].loaisanpham}}</a>
		 		 <md-divider hide show-gt-sm></md-divider>
	     		 <a style="padding-left: 20px;" href="#sanpham/DayChuyen">{{DanhMucSanPham[1].loaisanpham}}</a>
	     		 <md-divider hide show-gt-sm></md-divider>
	     		 <a style="padding-left: 20px;" href="#sanpham/LacTay">{{DanhMucSanPham[2].loaisanpham}}</a>
	     		 <md-divider hide show-gt-sm></md-divider>
	     		 <a style="padding-left: 20px;" href="#sanpham/LacChan">{{DanhMucSanPham[3].loaisanpham}}</a>
	     		 <md-divider hide show-gt-sm></md-divider>
	     		 <a style="padding-left: 20px;" href="#sanpham/HoaTai">{{DanhMucSanPham[4].loaisanpham}}</a>
	    	</div>
		</md-sidenav>

	</div>
		 
    	 
			<div ng-view></div>

 
    	 
	</div>

 		 
   <!-- 
    <md-button class="md-fab   md-fab-top-right md-primary" id="buttonShopping" href="#giohang" layout-align="center center">
     
    	<notification-icon animation="bounce" disappear-animation="bounce" count="SoLuongSanPhamGioHangDem" always-show="true"  >                 
		
			 
        </notification-icon>
        <md-icon class="material-icons">shopping_cart</md-icon>
   	</md-button> -->
    

    <md-button class="md-fab md-mini  md-fab-top-right md-primary" id="buttonUp" ng-click="GoTopPage()" layout-align="center center">
     
        <md-icon id="iconUp"  class="material-icons">arrow_upwards</md-icon>
   	</md-button>



   		<md-button class="md-fab md-mini md-fab-bottom-right md-primary" id="buttonMessage" ng-click="openDialogThemTinNhan($event)">
    	    <md-icon class="material-icons">message</md-icon>
    	</md-button>
</main>
<footer>
	<div layout="row"  >
	<span flex="30"></span>
	 <div layout="column" align="center" >
			<div class="footerDiaChi" layout="column" layout-align="center center">
				<p>{{TenShopDayDu}}</p>
				<p>{{DiaChiShop}}</p>
			</div>
			<md-divider md-inset></md-divider>
			<div class="footerCopyright" layout="column"layout-align="center center">
				Copy right &#169 2016 pqsilver
			</div>
	</div>
	<span flex="20"></span>
	<div layout="column">
		<md-button   id="buttonFacebook"   aria-label="Comment" href="https://www.facebook.com/bacphuquy/?fref=ts" target="_blank">
         <img src="image/facebook-icon.png" id="iconfacebook">
        </md-icon>
        </md-button>
       
      </div>
	</div>
	 
</footer>
<!-- thu vien firebase -->
<script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
<script src='https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js'></script>
   
          
    
</body>
</html>
