<!DOCTYPE html>
<html>
	<head>
		<title>Login - PQSilver</title>
		 
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
     	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
     
      <script src="bower_components/angular-material/angular-material.min.js"></script>
       <script src="bower_components/angular-route/angular-route.js"></script>
	   
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    

	<script src="js/LoginCtrl.js"></script>
	 <link rel="stylesheet" href="css/LoginStyle.css" />
	</head>
	<body  ng-app="myapp11"  ng-controller="AppCtrl11" class="bodyLogin"  >
	 
		<div    layout-align="center center" >
			<div class="divFormLogin "  >
				<div  >
			 		<h1 class="titleLogin">PQ Silver</h1> 
				 			 
					<div layout="row" layout-align="center center">
						<div>
							<md-icon class="material-icons IconLogin">shopping_cart</md-icon>
						</div>
						 
						<div flex>
							<md-input-container class="md-block" flex-gt-sm="">
								<label class="LabelTitleInput">{{DataLogin.name}}</label>
								<input class="InputLogin" required="" name="name" ng-model="username">
	  						</md-input-container>
						</div>
					</div>

					<div layout="row"  layout-align="center center">
						<div>
							<md-icon class="material-icons IconLogin">lock_outline</md-icon>
						</div>
						
						<div flex>
							<md-input-container class="md-block" flex-gt-sm="">
								<label class="LabelTitleInput">{{DataLogin.password}}</label>
								<input  class="InputLogin" type="password" required="" name="password" ng-model="userpassword">
  
							</md-input-container>
						</div>
					</div>
					<div layout="row"  layout-align="center center"  >
						<md-button class="md-raised md-accent" ng-click="AdminLogin()"    flex >{{DataLogin.login}}</md-button>
					</div>
				</div>
	 		</div>
		</div>
	</body>

    

	  
	
</html>
