<!DOCTYPE html>
<html>
<head>
	<title>Admin - PQSilver</title>
 
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="css/AdminStyle.css">
		<link rel="stylesheet" type="text/css" href="css/AdminChinhSuaSanPham.css">
		<link rel="stylesheet" type="text/css" href="css/AdminStyleTable.css">
		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css'>

 	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
     
<script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
     
      <script src="bower_components/angular-material/angular-material.min.js"></script>
       <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script> 

      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       
       <!-- notification -->
     <link rel="stylesheet" href="bower_components/angular-notification-icons/angular-notification-icons.min.css">
      <script src="bower_components/angular-notification-icons/angular-notification-icons.min.js"></script>
	<!-- up file hinh anh -->
        
        <!-- Firebase -->
		<script src="bower_components/firebase/firebase.js"></script>
        <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyD05OSbDox5wLZD5s6W0vR7aSl5e5Cdxn0",
            authDomain: "webbacphuquy-ff816.firebaseapp.com",
            databaseURL: "https://webbacphuquy-ff816.firebaseio.com",
            storageBucket: "webbacphuquy-ff816.appspot.com",
        };
        firebase.initializeApp(config);
        </script>
        
        

</head>
<body  ng-app ="myApp1" ng-controller="AppCtrl1" layout="row">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2 sidenavDanhMuc" layout="column" md-component-id="left"  md-is-locked-open="$mdMedia('gt-sm')"> 
		<md-toolbar class="md-primary" id="toolbarSidenav"   layout-align="center center">{{TenShop}}
		</md-toolbar>
	 	<div class="user" layout="column" layout-align="center center">
	 		<img class="circular" src="{{User.Avatar}}">
	 			<div>{{User.Name}}</div>
	 	</div>
	 	<md-divider></md-divider>
	 	<ul class="nav sidebar-nav">
        <li class="dropdown">
            <a class="ripple-effect dropdown-toggle"  data-toggle="dropdown" layout="row" href="#sanpham">
               	<md-icon class="material-icons">{{DanhMucSidenav[0].Icon}}</md-icon>
	 			{{DanhMucSidenav[0].Name}}
	 			<span flex=""></span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                   <a href="#sanpham/Nhan" tabindex="-1" class="DanhMucSanPham">
                   {{DanhMucSanPham[0].loaisanpham}}
                   </a>
                </li>
                <li>
                   <a href="#sanpham/DayChuyen" tabindex="-1" class="DanhMucSanPham">
                   {{DanhMucSanPham[1].loaisanpham}}
                   </a>
                </li>
                <li>
                   <a href="#sanpham/LacTay" tabindex="-1" class="DanhMucSanPham">
                    {{DanhMucSanPham[2].loaisanpham}}
                   </a>
                </li>
                <li>
                   <a href="#sanpham/LacChan" tabindex="-1" class="DanhMucSanPham">
                    {{DanhMucSanPham[3].loaisanpham}}
                    </a>
                </li>
                <li>
                   <a href="#sanpham/HoaTai" tabindex="-1" class="DanhMucSanPham">
                    {{DanhMucSanPham[4].loaisanpham}}
                    </a>
                </li>
            </ul>
        </li>
        <li>    
        	<md-divider></md-divider>
	    </li>
	    <li> 
	 		<a layout="row" href="#donhang">
				<md-icon class="material-icons">{{DanhMucSidenav[1].Icon}}</md-icon>
	 	 		{{DanhMucSidenav[1].Name}}
	 	 	</a>
	 	</li>
	 	<li>
		  	<md-divider></md-divider>
		</li>
		<li>
	 	 	<a layout="row" href="#tinnhan">
				<md-icon class="material-icons">{{DanhMucSidenav[2].Icon}}</md-icon>
	 	 		{{DanhMucSidenav[2].Name}}
	 	 	</a>
	 	</li>
	 	<li>
		  	<md-divider></md-divider>
		</li>
		<li>
	 	 	<a layout="row" href="#khachhang">
				<md-icon class="material-icons">{{DanhMucSidenav[3].Icon}}</md-icon>
	 	 		{{DanhMucSidenav[3].Name}}
	 	 	</a>
	 	</li>
	 	<li>
		  	<md-divider></md-divider>
		</li>
		 <li class="dropdown">
            <a class="ripple-effect dropdown-toggle"  data-toggle="dropdown" layout="row" href="#chinhsua" >
               	<md-icon class="material-icons">dashboard</md-icon>
	 			{{DanhMucSidenav[4].Name}}
	 			 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                   <a href="#sanpham/Nhan" tabindex="-1" class="DanhMucSanPham">
                   {{DanhMucSidenav[4].children.gioithieu}}
                   </a>
                </li>
               	<li>
                    <a href="#sanpham/DayChuyen" tabindex="-1" class="DanhMucSanPham">
                       {{DanhMucSidenav[4].children.lienhe}}
                    </a>
                </li>
                <li>
                    <a href="#sanpham/LacTay" tabindex="-1" class="DanhMucSanPham">
                      {{DanhMucSidenav[4].children.dosizenhan}}
                    </a>
                </li>
            </ul>
        </li>
	</ul>
	</md-sidenav>
		<div layout="column">
	 		<md-toolbar class="md-accent" id="toolbarRight" layout="row" layout-align="center center">
	 			<md-button class="md-icon-button" hide-gt-sm ng-click="openSidenavLeft('left')">
	 				<md-icon class="material-icons">menu</md-icon>
	 			</md-button>

				<form method="get" action="/search" id="search">
  					<input name="q" type="text" size="40" placeholder="Search..." />
				</form>
				<span flex></span>


				 <notification-icon animation="bounce" disappear-animation="bounce" count="CountDonHangMoi" always-show="true">
                       <md-button class="md-icon-button" href="#donhang" >
	 				<md-icon class="material-icons">{{ItemToolbarRight.shopping}}</md-icon>
	 			</md-button>
                    </notification-icon>


                     <notification-icon animation="bounce" disappear-animation="bounce" count="CountTinNhanMoi" always-show="true">
                     	<md-button class="md-icon-button" href="#tinnhan" >
	 				<md-icon class="material-icons">{{ItemToolbarRight.email}}</md-icon>
	 			</md-button>
                    </notification-icon>


			 	
		 	
				<md-menu md-position-mode="target-right target">
					<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More">
						<md-icon class="material-icons" style="width: 36px;">{{ItemToolbarRight.person.icon}}</md-icon>
					</md-button>
					<md-menu-content width="2">
						<md-menu-item  >
				 			<md-button>
				 				<div layout="row" flex="">
				 					<md-icon class="material-icons">{{ItemToolbarRight.person.item[0].icon}}</md-icon>
					 					<p flex="">{{ItemToolbarRight.person.item[0].title}}</p>
				 				</div>
				 			</md-button>
						</md-menu-item>
						<md-menu-item>
				 			 <md-button>
				 				<div layout="row" flex="">
				 					<md-icon class="material-icons">{{ItemToolbarRight.person.item[1].icon}}</md-icon>
									<p flex="">{{ItemToolbarRight.person.item[1].title}}</p>
				 				</div>
				 			</md-button>
						</md-menu-item>
						<md-menu-item>
				 			<md-divider></md-divider>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="AdminLogout()">
				 				<div layout="row" flex="">
				 					<md-icon class="material-icons" >{{ItemToolbarRight.person.item[2].icon}}</md-icon> 
				 					<p flex="">{{ItemToolbarRight.person.item[2].title}}</p>
				 				</div>
				 			</md-button>
						</md-menu-item>
						 
					</md-menu-content>
				</md-menu>
			</md-toolbar>

	  		<div layout-padding ng-view></div>
		</div>

<!-- thu vien firebase -->
<script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
<script src='https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>

<script language="javascript" src="js/AdminJavaScript.js"></script>
	<script language="javascript" src="js/AdminSanPham.js"></script>
	<script language="javascript" src="js/AdminTinNhan.js"></script>
	<script language="javascript" src="js/AdminDonHang.js"></script>
	<script language="javascript" src="js/AdminSanPhamTheoLoai.js"></script>
	<script language="javascript" src="js/AdminChiTietDonHang.js"></script>
	<script language="javascript" src="js/AdminEditSanPham.js"></script>
	<script language="javascript" src="js/AdminLanThemMoiSanPham.js"></script>
	<script language="javascript" src="js/AdminChiTietLanNhapSanPham.js"></script>
	<script language="javascript" src="js/AdminKhachHang.js"></script>
	</body>
</html>
