<!DOCTYPE html>
<html>
	<head>

	 <title>Exam</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script language="javascript" src="angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/LoginStyle.css">
		 
 	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script language="javascript" src="js/MainJavaScript.js"></script>
		 
 
	<style>
		body
		{
			 font-size: 62.5%;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: Raleway;
  background: url(https://wallpaperscraft.com/image/city_street_house_sidewalk_58870_1920x1200.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 50%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
		}
	</style>
					</head>
					<body  ng-app ="myApp" ng-controller="AppCtrl" layout="column"   >
					<div  layout-xs="column" layout="row" flex layout-align="center center" >
						<div class="divFormLogin "  >

								<div  >
	 			 
	 				<h1>Login</h1> 
	 			 
	 			 
	 				 <div layout="row" layout-align="center center">
         <div  >
	<md-icon class="material-icons">shopping_cart</md-icon>
</div>
        <span flex="5"></span>
       <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Name</label>
          <input  required="" name="name" ng-model="user.name">
  
          </md-input-container>
          </div>
        </div>

        <div layout="row"  layout-align="center center">
        <div   >
          <md-icon class="material-icons">lock_outline</md-icon>
          </div>
           <span flex="5"></span>
          <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Mat khau</label>
          <input type="password" required="" name="password" ng-model="user.password">
  
        </md-input-container>
      </div>
      </div>
      	<div layout="row"  layout-align="center center"  >
      <md-button class="md-raised md-accent" href="admin.html" flex >Dang nhap </md-button>
      </div>

	 		 
	 	</div>
	 </div>

							</body>
						</html>