<!DOCTYPE html>
<html>
<head>
	<title>Exam</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script language="javascript" src="angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/LoginStyle.css">
 	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script language="javascript" src="js/MainJavaScript.js"></script>
</head>
<body  ng-app ="myApp" ng-controller="AppCtrl" layout="column" >
	
	 

	 	<div  class="section-1 cf" flex-xs="" flex-gt-xs="30"  >
	 		<div class="form">
	 			 
	 				<h1>Login</h1></md-card-title-text>
	 			 
	 			 
	 				 <div layout="row" layout-align="center center">
         <div  >
	<md-icon class="material-icons">shopping_cart</md-icon>
</div>
        <span flex="5"></span>
       <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Name</label>
          <input  required="" name="name" ng-model="user.name">
  
          </md-input-container>
          </div>
        </div>

        <div layout="row"  layout-align="center center">
        <div   >
          <md-icon class="material-icons">lock_outline</md-icon>
          </div>
           <span flex="5"></span>
          <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Mat khau</label>
          <input type="password" required="" name="password" ng-model="user.password">
  
        </md-input-container>
      </div>
      </div>
      	<div layout="row"  layout-align="center center"  >
      <md-button class="md-raised md-accent" href="admin.html" flex >Dang nhap </md-button>
      </div>

	 		 
	 	</div>
	 
</body>
</html>