<form class="formChinhSuaSanPham" ng-controller="AdminLanThemMoiSanPhamTheoLoaiController">
	 <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>{{DataLanNhapThemSanPham.title}}</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
 
	<div  layout-gt-sm="row" flex-gt-sm="" id="divContentChinhSuaSanPham">
		<div  layout-gt-sm="column" flex-gt-sm="">

		<div layout-gt-sm="row" >
			<md-input-container class="md-block" flex-gt-sm="40">
		        <label class="labelInputAddSP" >{{ThongTinSanPham[0].title}}</label>
		        <md-select ng-model="curSPTheoLoai.LoaiSP">
		        	<md-option  value="Nhan" >
		              {{DanhMucSanPham[0].loaisanpham}}
		              </md-option>
		              <md-option  value="DayChuyen" >
		               {{DanhMucSanPham[1].loaisanpham}}
		              </md-option>
		              <md-option  value="LacTay" >
		               {{DanhMucSanPham[2].loaisanpham}}
		              </md-option>
		              <md-option  value="LacChan" >
		              {{DanhMucSanPham[3].loaisanpham}}
		              </md-option>
		              <md-option  value="HoaTai" >
		             {{DanhMucSanPham[4].loaisanpham}}
		             </md-option>     
		                    
		        </md-select>
	      	</md-input-container>

	        <div flex="5" hide-xs="" hide-sm="">
	        </div>
	   	
	        <md-input-container class="md-block" flex-gt-sm="">
	          <label class="labelInputAddSP">{{ThongTinSanPham[1].title}}</label>
	          <input   required="" name="name" ng-model="curSPTheoLoai.TenSP" READONLY  >  

	        </md-input-container>
 
      	</div>

     	<div layout-gt-sm="row">

       	 	 <md-input-container class="md-block" flex-gt-sm="">
	          <label class="labelInputAddSP">{{ThongTinSanPham[2].title}}</label>
	          <input READONLY  required="" name="name" ng-model="curSPTheoLoai.GiaSP"   >  

	        </md-input-container>

        	 <div flex="5" hide-xs="" hide-sm="">
       		 </div>

       		<md-input-container class="md-block" flex-gt-sm="">
          		<label class="labelInputAddSP">{{ThongTinSanPham[3].title}}</label>
         		 <input  READONLY required="" name="number" ng-model="curSPTheoLoai.SoLuongSP" >
      		</md-input-container>
       	  	<div flex="5" hide-xs="" hide-sm="">
          	<!-- Spacer //-->
        	</div>
        	<md-input-container class="md-block" flex-gt-sm="">
        	  <label class="labelInputAddSP">{{ThongTinSanPham[4].title}}</label>
        	  <input READONLY  required="" name="name" ng-model="curSPTheoLoai.MoTaSP">        
       		 </md-input-container>
      	</div> 
	 
			<md-input-container class="md-block" flex-gt-sm="">
          		<label class="labelInputAddSP">{{DataLanNhapThemSanPham.soluongthem}}:</label>
         		 <input required="" name="number" ng-model="SoLuongLanThemTheoLoai"  >
      		</md-input-container>

 
         
	</div>
</div>
<md-divider></md-divider>
<md-dialog-actions layout="row">
	    		<span flex></span>
	    		<md-button ng-click="answer('ThemMoi'); ThemLanNhapMoiSanPhamTheoLoai();" class="md-primary md-raised">{{DataLanNhapThemSanPham.them}}</md-button>
	    		<md-button ng-click="answer('Cancel')" class="md-primary md-raised">{{DataLanNhapThemSanPham.huy}}</md-button>
	    	</md-dialog-actions>
</form>