 
	<form class="formDialogXoaSanPham">
		 <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>{{DataXoaSanPham.title}}</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
	    <md-dialog-content>
	    	<div class="divXoaSanPham"><h6>{{DataXoaSanPham.content}}</h6></div>
	    	<md-divider></md-divider>
	    	<md-dialog-actions layout="row">
	    		<span flex></span>
	    		<md-button ng-click="answer('OK')" class="md-primary md-raised">{{DataXoaSanPham.deleteitem}}</md-button>
	    		<md-button ng-click="answer('Cancel')" class="md-primary md-raised">{{DataXoaSanPham.cancel}}</md-button>
	    	</md-dialog-actions>
	    </md-dialog-content>
	</form>
 