 <form>

   <table class="  fixed_headers_San_Pham"  >
      <thead>
         <tr>
           <th data-field="ID" ng-click="SapXepSanPhamTheoIDTheoLoai()">{{DataTableSanPham.id}}    <b class="caret" ></b></th>
                 <th data-field="ID" ng-click="SapXepSanPhamTheoMaSanPhamTheoLoai()">{{DataTableSanPham.masanpham}}    <b class="caret" ></b></th>
            <th data-field="TenSanPham" ng-click="SapXepSanPhamTheoTenTheoLoai()">{{DataTableSanPham.ten}}
                <b class="caret" ></b>
            </th>
            <th data-field="LoaiSanPham" ng-click="SapXepSanPhamTheoLoaiSanPhamTheoLoai()">{{DataTableSanPham.loai}}    <b class="caret" ></b></th>
            <th data-field="GiaCa" ng-click="SapXepSanPhamTheoGiaTheoLoai()">{{DataTableSanPham.gia}}
                <b class="caret" ></b>
            </th>
            <th data-field="Soluong" ng-click="SapXepSanPhamTheoTongHangTheoLoai()">{{DataTableSanPham.tonghang}}
                <b class="caret" ></b>
            </th>
            <th data-field="Soluong" ng-click="SapXepSanPhamTheoDaBanTheoLoai()">{{DataTableSanPham.daban}}
                <b class="caret" ></b>
            </th>
            <th data-field="MoTa">{{DataTableSanPham.mota}}</th>
            <th data-field="ThemHang">{{DataTableSanPham.themhang}}</th>
            <th data-field="edit">{{DataTableSanPham.chinhsua}}</th>
            <th data-field="delete">{{DataTableSanPham.xoa}}</th>
         </tr>
      </thead>
      <tbody>
            <tr ng-repeat="item in ListSanPhamTheoLoai">
              <td>{{item.ID}}</td>
                <td>{{item.MaSanPham}}</td>
            <td ng-click="XemChiTietLanNhapTheoLoai($event); TimIDSanPhamTheoLoai(item)">{{item.TenSanPham}}</td>
            <td>{{item.LoaiSanPham}}</td>
            <td>{{item.GiaSanPham}}</td>
            <td>{{item.SoLuongSanPham}}</td>
             <td>{{item.SoLuongBan}}</td>
            <td>{{item.MoTaSanPham}}</td>
             <td>
               <md-icon class="material-icons" ng-click=" showThemLanNhapSanPhamTheoLoai($event); TimIDSanPhamTheoLoai(item)" >add</md-icon>
            </td>
            <td>
               <md-icon class="material-icons" ng-click=" showEditSanPhamDialogTheoLoai($event); TimIDSanPhamTheoLoai(item)"  >mode_edit</md-icon>
            </td>
            <td>
               <i class="btn-deletar mdi-content-remove-circle" ng-click="TimIDSanPhamTheoLoai(item); xoaSanPhamTheoLoai($event)"></i>
            </td>
         </tr>
         
      </tbody>
</table>

 <md-button class="md-fab md-mini md-fab-bottom-right" id="btnfabAddSanPham" aria-label="Mini FAB" ng-click="openBottemThemSanPham()">
  <md-icon icon="material-icons" id="buttonAddSanPham">add</md-icon>
</md-button>
</form>