 
	  
	     	<table class="tabledh nofilldh table-stripeddh"  >
            <thead>
               <tr>
                  <th class="text-left">{{DataTableChiTietDonHang.idsanpham}}</th>
                  <th class="text-left">{{DataTableChiTietDonHang.masanpham}}</th>
                  <th class="text-left">{{DataTableChiTietDonHang.tensanpham}}</th>
               
                   <th class="text-left">{{DataTableChiTietDonHang.giasanpham}}</th>
                      <th class="text-left">{{DataTableChiTietDonHang.soluong}}</th>
                  <th class="text-left">{{DataTableChiTietDonHang.thanhtiensanpham}}</th>
                 
               </tr>
            </thead>
            <tbody  ng-controller="ChiTietDonHangController" >
               <tr  ng-repeat="item in ListCTTheoID">
                  <td class="text-center">{{item.IDSanPham}}</td>
                   <td class="text-center">{{item.MaSanPham}}</td>
                  <td class="text-left">{{item.Name}}</td>
                  <td class="text-right">{{item.GiaSanPham}}</td>
                  <td class="text-center">{{item.SoLuong}}</td>
                  <td class="text-right">{{item.ThanhTienSpace}}</td>
               </tr>
               <tr>
                  <td colspan="5"  class="text-right">{{TongCongThanhToan}}</td>
                  <td class="text-right" id="tongthanhtiendonhang">{{TongThanhToanTatCaSpace}} {{currentVN}}</td>
               </tr>
                   
           
            </tbody>

 