 <form>
	 

	<table class="fixed_headers_Tin_Nhan">
		  <thead>
               <tr>
                <th data-field="ID">{{DataTableTinNhan.id}}</th>
                  <th data-field="Nguoigui">{{DataTableTinNhan.nguoigui}}</th>
                  <th data-field="Noidung">{{DataTableTinNhan.noidung}}</th>

                  <th data-field="Sodienthoai">{{DataTableTinNhan.dienthoai}}</th>
                     <th data-field="Sodienthoai">{{DataTableTinNhan.email}}</th>
                  <th data-field="Ngaygui">{{DataTableTinNhan.ngaygui}}</th>
                  <th data-field="PhanHoi">{{DataTableTinNhan.phanhoi}}</th>
                  
               </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ListTinNhan">
                    <td>{{item.ID}}</td>
                  <td>{{item.NguoiGui}}</td>
                  <td>{{item.NoiDung}}</td>
                  <td>{{item.DienThoai}}</td>
                  <td>{{item.Email}}</td>
                  <td>{{item.NgayGui}}</td> 
                <td>
                <md-button class="md-icon-button" ng-click="AdminPhanHoiTinNhanUpdate(item)" href="https://accounts.google.com/ServiceLogin?hl=vi" target="_blank">
                     <md-icon class="material-icons"   >feedback</md-icon>
                    </md-button>
                  </td>
               </tr>
           
            </tbody>
	</table>


</form>