<form class="formChinhSuaSanPham" ng-controller="AdminEditSanPhamController">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	        <h2>Chinh sua san pham</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
		    </md-button>
	    </div>
	</md-toolbar>
 
	<div  layout-gt-sm="row" flex-gt-sm="" id="divContentChinhSuaSanPham">
		<div  layout-gt-sm="column" flex-gt-sm="">

		<div layout-gt-sm="row" >
			<md-input-container class="md-block" flex-gt-sm="40">
		        <label class="labelInputAddSP" >{{ThongTinSanPham[0].title}}</label>
		        <md-select ng-model="curSP.LoaiSP">
		        	 <md-option  value="Nhan" >
		              {{DanhMucSanPham[0].loaisanpham}}
		              </md-option>
		              <md-option  value="DayChuyen" >
		               {{DanhMucSanPham[1].loaisanpham}}
		              </md-option>
		              <md-option  value="LacTay" >
		               {{DanhMucSanPham[2].loaisanpham}}
		              </md-option>
		              <md-option  value="LacChan" >
		              {{DanhMucSanPham[3].loaisanpham}}
		              </md-option>
		              <md-option  value="HoaTai" >
		             {{DanhMucSanPham[4].loaisanpham}}
		             </md-option>     
		                    
		        </md-select>
	      	</md-input-container>

	        <div flex="5" hide-xs="" hide-sm="">
	        </div>
	   	
	        <md-input-container class="md-block" flex-gt-sm="">
	          <label class="labelInputAddSP">{{ThongTinSanPham[1].title}}</label>
	          <input   required="" name="name" ng-model="curSP.TenSP"   >  

	        </md-input-container>
 
      	</div>

     	<div layout-gt-sm="row">

       	 	 <md-input-container class="md-block" flex-gt-sm="">
	          <label class="labelInputAddSP">{{ThongTinSanPham[2].title}}</label>
	          <input   required="" name="name" ng-model="curSP.GiaSP"   >  

	        </md-input-container>

        	 <div flex="5" hide-xs="" hide-sm="">
       		 </div>

       		<md-input-container class="md-block" flex-gt-sm="">
          		<label class="labelInputAddSP">{{ThongTinSanPham[3].title}}</label>
         		 <input   required="" name="number" ng-model="curSP.SoLuongSP" >
      		</md-input-container>
       	  	<div flex="5" hide-xs="" hide-sm="">
          	<!-- Spacer //-->
        	</div>
        	<md-input-container class="md-block" flex-gt-sm="">
        	  <label class="labelInputAddSP">{{ThongTinSanPham[4].title}}</label>
        	  <input   required="" name="name" ng-model="curSP.MoTaSP">        
       		 </md-input-container>
      	</div> 
	</div>
</div>
<md-divider></md-divider>
<md-dialog-actions layout="row">
	<span flex></span>
	    <md-button ng-click="SaveEditSanPham()" class="md-primary md-raised">{{ChinhSuaSanPham.luu}}</md-button>
	    <md-button ng-click="answer('Cancel')" class="md-primary md-raised">{{ChinhSuaSanPham.huy}}</md-button>
</md-dialog-actions>
</form>