<md-bottom-sheet>
 
<div  layout-gt-sm="row" flex-gt-sm="">
  <div  layout-gt-sm="column" flex-gt-sm="">
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="30">
        <label class="labelInputAddSP" >{{ThongTinSanPham[0].title}}</label>
          <md-select ng-model="LoaiSanPham">
              <md-option  value="Nhan" >
              {{DanhMucSanPham[0].loaisanpham}}
              </md-option>
              <md-option  value="DayChuyen" >
               {{DanhMucSanPham[1].loaisanpham}}
              </md-option>
              <md-option  value="LacTay" >
               {{DanhMucSanPham[2].loaisanpham}}
              </md-option>
              <md-option  value="LacChan" >
              {{DanhMucSanPham[3].loaisanpham}}
              </md-option>
              <md-option  value="HoaTai" >
             {{DanhMucSanPham[4].loaisanpham}}
             </md-option>     
          </md-select>
        </md-input-container>
        <div flex="5" hide-xs="" hide-sm="">
        </div>
        
        <md-input-container class="md-block" flex-gt-sm="">
          <label class="labelInputAddSP">{{ThongTinSanPham[1].title}}</label>
          <input   required="" name="name" ng-model="TenSanPham">        
        </md-input-container>
        <div flex="5" hide-xs="" hide-sm="">
        </div>
         <md-input-container class="md-block" flex-gt-sm="">
          <label class="labelInputAddSP">{{ThongTinSanPham[5].title}}</label>
          <input   required="" name="masanpham" ng-model="MaSanPham">        
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{ThongTinSanPham[2].title}}</label>
            <input   required="" name="name"  ng-model="GiaSanPham">      </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
          </div>

          <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{ThongTinSanPham[3].title}}</label>
            <input   required="" name="type" ng-model="SoLuongSanPham" >
          </md-input-container>
         
          <div flex="5" hide-xs="" hide-sm="">
          </div>

          <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{ThongTinSanPham[4].title}}</label>
            <input   required="" name="type" ng-model="MoTaSanPham" >
          </md-input-container>
      </div> 
    <div layout-gt-sm="row">
        <div layout-gt-sm="column" class="divPreviewImage">
          <input type="file" id="filehinhchinh" onchange="angular.element(this).scope().fileNameChanged1(this)" name="file" /> 
             <img class="thumbpreview" ng-src="{{step1}}" />
        </div>

          <div flex="5" hide-xs="" hide-sm=""></div>

        <div layout-gt-sm="column" class="divPreviewImage">
          <input type="file" id="filehinhphu1" onchange="angular.element(this).scope().fileNameChanged2(this)" name="file1" />
            <img class="thumbpreview" ng-src="{{step2}}"/>   
        </div>

          <div flex="5" hide-xs="" hide-sm=""></div>

        <div layout-gt-sm="column" class="divPreviewImage">
          <input type="file" id="filehinhphu2" onchange="angular.element(this).scope().fileNameChanged3(this)" name="file2" />
            <img class="thumbpreview" ng-src="{{step3}}" /> 
        </div>
        
    </div>
      
  </div>
  <div layout-align-gt-sm="center center">
        <md-button class="md-fab" aria-label="Add" align="center" ng-click="AdminThemSanPham()">
           <md-icon class="material-icons" style="color: white;">add</md-icon>
        </md-button>
  </div>
</div>


    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    

</md-bottom-sheet>