<md-dialog>
  <form class="formMainTinNhan"  >
	  <md-toolbar class="toolbarTinNhan">
      <div class="md-toolbar-tools">
        <h2>{{DataTinNhan.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div id="divTinNhan" >
        <md-input-container class="md-block" flex-gt-sm=""  >
          <label>{{DataTinNhan.name}}</label>
          <input  required="" name="name" ng-model="Name">
  
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{DataTinNhan.phone}}</label>
          <input  required="" name="phone" ng-model="Phone">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{DataTinNhan.email}}</label>
          <input  required="" name="email" ng-model="Email">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{DataTinNhan.content}}</label>
          <textarea required="" name="content" ng-model="Content"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>
    <span flex></span>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="ThemTinNhan()" class="md-primary md-raised">{{DataTinNhan.send}}
        <md-icon class="material-icons">send</md-icon>
      </md-button>
    </md-dialog-actions>
</form>
</md-dialog>