<form  >
<md-dialog  ng-cloak style="width: 600px;">
  
       <form  >
       <div class="divFormLogin">
         <h2 class="titleFormLogin" align="center">Login</h2>
         <div layout="row" layout-align="center center">
         <div  >
         <md-icon class="material-icons">person</md-icon>
          </div>
        <span flex="5"></span>
       <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{DataLogin.name}}</label>
          <input  required="" name="name" ng-model="loginUserName">
  
          </md-input-container>
          </div>
        </div>

        <div layout="row"  layout-align="center center">
        <div   >
          <md-icon class="material-icons">lock_outline</md-icon>
          </div>
           <span flex="5"></span>
          <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{DataLogin.password}}</label>
          <input type="password" required="" name="password" ng-model="loginPassword">
  
        </md-input-container>
      </div>
      </div>
      <div layout="row"  layout-align="center center"  >
      <md-button class="buttonFormDangNhap" ng-click="MainLoginBinhThuong()" flex >{{DataLogin.login}}</md-button>
      </div>
       <div layout="row"  layout-align="center center"  >
         
      <md-button class="buttonFormDangNhap" ng-click="LoginFacebook()"   flex >{{DataLogin.loginfacebook}}</md-button>
      </div>
      <div layout="row" class="divRegisterForgot"  >
          <a ng-click="MainDangKyTaiKhoan($event)">{{DataLogin.signup}}</a>
        <span flex></span>
        <a  href="#">{{DataLogin.forgotpassword}}</a>
      </div>
      </div>
       </form>
    

   
</md-dialog>
</form>