<md-dialog ng-controller="AppCtrlLogin">
  <form class="formMainDangKyTaiKhoan"  >
	  <md-toolbar class="toolbarDangKyTaiKhoan">
      <div class="md-toolbar-tools">
        <h2>{{DataDangKyTaiKhoan.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
     <div id="divDangKyTaiKhoan" >
         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{DataDangKyTaiKhoan.name}}</label>
            <input   required="" ng-model="NameDK" > </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
          </div>

        <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{DataDangKyTaiKhoan.user}}</label>
            <input   required="" ng-model="UserDK" > </md-input-container>
         
        
        </div> 
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{DataDangKyTaiKhoan.password}}</label>
            <input   required=""  type="password"  ng-model="PasswordDK"  >      </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
          </div>

          <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{DataDangKyTaiKhoan.password2}}</label>
            <input   required="" type="password" ng-model="Password1DK" > </md-input-container>
         
          
        </div> 
        <div layout-gt-sm="row">

          <div >{{DataDangKyTaiKhoan.gender}}</div>
          
         
            <md-radio-group ng-model="GioiTinh"  >
              <md-radio-button value="Nam" class="md-primary">{{DataDangKyTaiKhoan.nam}}</md-radio-button>
              <md-radio-button value="Nu" class="md-primary">{{DataDangKyTaiKhoan.nu}}</md-radio-button>
            </md-radio-group>

         
          <div flex="5" hide-xs="" hide-sm=""></div>
          <md-datepicker ng-model="NgaySinhDate" date="true" time="false" md-placeholder="Ngay sinh"></md-datepicker>
             <div flex="5" hide-xs="" hide-sm=""></div>
        </div> 
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{DataDangKyTaiKhoan.phone}}</label>
            <input   required=""    ng-model="DienThoaiDK">      </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
          </div>

         <md-input-container class="md-block" flex-gt-sm="">
            <label class="labelInputAddSP">{{DataDangKyTaiKhoan.address}}</label>
            <input   required="" ng-model="DiaChiDK"> </md-input-container>
         
        </div> 
      </div>
    </md-dialog-content>
    <span flex></span>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="DangKyTaiKhoan()" class="md-primary md-raised">{{DataDangKyTaiKhoan.button}}<md-icon class="material-icons">send</md-icon>
      </md-button>
    </md-dialog-actions>
</form>
</md-dialog>