 
<form id="formBig">
    <div class="container slider">
        <img ng-repeat="slide in slides" class="slide  nonDraggableImage"
        ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
        ng-show="isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

        <a class="arrow prev"   ng-click="nextSlide()"></a>
        <a class="arrow next"   ng-click="prevSlide()"></a>
        <nav class="nav">
            <div class="wrapper">
                <ul class="dots">
                    <li class="dot" ng-repeat="slide in slides">
                        <a   ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}
                       </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</form>