<form>
	<h2 style="color: #7FCBC9">PQ Silver - Bac Phu Quy</h2>
	<p>Là phụ nữ ai cũng thích đẹp. Cô chủ của PQSilver cũng vậy.
	Và cô muốn mình và nhiều bạn nữ khác sẽ trở nên rạng rỡ hơn với những món trang sức bạc lấp lánh do chính tay cô lựa chọn.
	<p>
	Nếu bạn là phụ nữ, đừng ngại đến với PQSilver để thấy mình xinh đẹp hơn mỗi ngày.</p>
	<p>Nếu bạn là đàn ông, PQSilver sẽ đồng hành cùng bạn mang niềm vui, nét rạng ngời, quyến rũ đến cho những người phụ nữ mà bạn yêu thương.</p>
	<p>PQSilver – chuyên cung cấp trang sức làm từ bạc (92.5 và 99.9) với cam kết đền gấp đôi giá trị đơn hàng nếu khách hàng phát hiện bất cứ sản phẩm bạc mua tại PQSilver là hàng giả.</p>
	<h5>SHOP BẠC PHÚ QUÝ - PQSILVER</h5>
  <img class="md-card-image" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13495126_936889249753791_52234131724839242_n.jpg?oh=8e9153bdf74eb6de52264e6a3a5be8c2&oe=57C803F5" style="width: 700px;height: 600px;" />
	<h6>☞ Địa chỉ Change Everyday 150/43 Nguyễn Trãi, Bến Thành, Q1</h6>
	<h6>☞ Inbox để đặt hàng</h6>
	<p>☞Hotline đặt hàng: 0903 176 879</p>
<p>☞ Thanh toán và giao hàng:</p>
<ul><li>✪ Miễn phí ship hàng và nhận thanh toán ngay khi giao hàng đối với khách hàng khu vực HCM.</li>
<li>✪ Miễn phí ship hàng cho các khách hàng ngoài khu vực HCM thanh toán trước.</li>
<li>✪ Đối với các khách hàng ngoài khu vực HCM muốn thanh toán sau thì phí ship đồng giá cho tất cả là 30.000 VNĐ.</li>
</ul>
<h5>☞ PQSILVER CAM KẾT </h5>
<ul><li>✅ 100% các sản phẩm được làm từ bạc 92.5 hoặc 99.9 => đền tiền GẤP ĐÔI nếu không phải bạc</li>
<li>✅ Hàng giống như hình, không vừa ý, không nhận hàng.</li></ul>
<h5>Đến PQSilver ngay, nhé!</h5>
<h5>PQSilver - Là phụ nữ thì phải đẹp.</h5>

	<img class="md-card-image" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/1936216_914741215301928_4803342070379288807_n.jpg?oh=03f6ae0fecf7931f3e2348c4b192239c&oe=57D2CFCD" style="width: 700px;height: 400px;" />
	<h5>150/43 Nguyen Trai, phuong Ben Thanh, Quan 1, Thanh pho Ho Chi Minh</h5>
  	<p>So dien thoai: 090 317 6879</p>
  	<p>facebook: facebook.com/bacphuquy</p>
  	<img src="https://external-hkg3-1.xx.fbcdn.net/map_tile.php?v=21&x=26095&y=15397&z=15&size=512&ppi=250&language=vi_VN&theme=undefined">
</form>