<md-dialog>
<form class="formMainDatMuaGioHang">
	<md-toolbar class="toolbarDatMua" >
    <div class="md-toolbar-tools">
      <h2>{{DatMuaGioHang[0].title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div id="divThongTinDonHang">
      <md-input-container class="md-block" flex-gt-sm=""  >
        <label>{{DatMuaGioHang[1].title}}</label>
        <input  required="" name="name" ng-model="NameMuaHang">
  
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>{{DatMuaGioHang[2].title}}</label>
        <input  required="" name="phone" ng-model="PhoneMuaHang">
      </md-input-container>
		  
		  <md-input-container class="md-block" flex-gt-sm=""  >
        <label>{{DatMuaGioHang[3].title}}</label>
        <input  required="" name="address" ng-model="AddressMuaHang">
      </md-input-container> 
    </div>
  </md-dialog-content>
  <span flex></span>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="ThemDonMuaHang()" class="md-primary md-raised">{{DatMuaGioHang[4].title}}
      <md-icon class="material-icons">send</md-icon>
    </md-button>
  </md-dialog-actions>
</form>
</md-dialog>