<form >
	<div layout="column">
<!-- 	<md-toolbar style="background-color: #7FCBC9;">
        <div class="md-toolbar-tools">
          <h2>San pham</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
          </md-button>
        </div>
  </md-toolbar> -->
	<div class="divFormCTSanPham" layout-gt-sm="row" >
			<div layout="column" class="divImage">
			<img class="BigImageCT" src="{{currentSanPhamTheoLoai.currentShowImage}}" ng-click="showBigPictureTheoLoai(ev); TimIDXemPhongToHinhAnhTheoLoai(currentSanPhamTheoLoai);"/>
			<div layout-gt-sm="row" layout-align="center center" class="divSmallImage">
				<img ng-click="changeShowImageTheoLoai(currentSanPhamTheoLoai.ImagePhu1)" class="md-card-image SmallImage" src="{{currentSanPhamTheoLoai.ImagePhu1}}" ng-class="{'active' : currentSanPhamTheoLoai.ImagePhu1 == currentSanPhamTheoLoai.currentShowImage}"/>
				<span flex=""></span>
				<img ng-click="changeShowImageTheoLoai(currentSanPhamTheoLoai.ImagePhu2)"   class="md-card-image SmallImage" src="{{currentSanPhamTheoLoai.ImagePhu2}}" ng-class="{'active' : currentSanPhamTheoLoai.ImagePhu2 == currentSanPhamTheoLoai.currentShowImage}"/>
				<span flex=""></span>
				<img ng-click="changeShowImageTheoLoai(currentSanPhamTheoLoai.ImagePhu3)"   class="md-card-image SmallImage" src="{{currentSanPhamTheoLoai.ImagePhu3}}" ng-class="{'active' : currentSanPhamTheoLoai.ImagePhu3 == currentSanPhamTheoLoai.currentShowImage}"/>
			</div>
		</div>
		<span flex="20"></span>
		<div layout="column" class="divThongTin">
				<p class="pTenSanPham">{{currentSanPhamTheoLoai.TenSanPham}}</p>
				<p class="pTenSanPham">{{DataChiTietSanPham.masanpham}}  {{currentSanPhamTheoLoai.MaSanPham}}</p>
				<p class="pGiaSanPham">{{currentSanPhamTheoLoai.GiaSanPham}} {{currentVND}}</p>
				<md-divider></md-divider>
				<p class="pMoTa">Mo ta: {{currentSanPhamTheoLoai.MoTaSanPham}}</p>
				 
				<md-divider></md-divider>

	<table   class="tableThemSoLuongSanPham">
		<tr>
  			<td style="padding: 10px;">
  				<div layout="row">
	  				<md-button class="md-icon-button" ng-click="GiamSoLuong()" >
	  					<md-icon class="material-icons">remove</md-icon>
	  				</md-button>
	  		  
	          		<input  class="inputSoLuongSanPham" ng-model="SoLuongSanPham">
	  				<md-button class="md-icon-button" ng-click="ThemSoLuong()" >
	  					<md-icon class="material-icons">add</md-icon>
	  				</md-button>
  				</div>
  			</td>
		</tr>
	</table>

		<md-button class="buttonMuaHangSanPham" ng-click="boVaoGioHang11TheoLoai(currentSanPhamTheoLoai)"  >
			<md-icon  class="material-icons">{{ButtonMuaHang[2].IconButton}}</md-icon>
				{{ButtonMuaHang[2].TenButton}}</md-button>
			<md-button class="buttonMuaHangSanPham"  ng-click="MuaNgaySanPhamChiTietTheoLoai(currentSanPhamTheoLoai)">
				{{ButtonMuaHang[0].TenButton}}
			</md-button>
		</div>
	</div>
</div>
</form>	