	 
	   <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Ten san pham</label>
          <input   required="" name="name" >        
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Loai san pham</label>
          <input   required="" name="type" >
        </md-input-container>

      </div>

       <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Ten san pham</label>
          <input   required="" name="name" >        
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Loai san pham</label>
          <input   required="" name="type" >
        </md-input-container>

      </div> 

      
 