<md-bottom-sheet>

<div  layout-gt-sm="row" flex-gt-sm="">
<div  layout-gt-sm="column" flex-gt-sm="">
	<div layout-gt-sm="row">

<md-input-container class="md-block" flex-gt-sm="40">
	        <label class="labelInputAddSP">Loai san pham</label>
	        <md-select ng-model="ctrl.userState">
	          <md-option  value="aa" >
	           Nhan
	          </md-option>
	          <md-option  value="aa" >
	           Day chuyen
	          </md-option>
	          <md-option  value="aa" >
	           Lac tay
	          </md-option>
	       
	        <md-option  value="aa" >
	           Lac chan
	          </md-option>
	           <md-option  value="aa" >
	          Hoa tai
	          </md-option>
	          
	          
	           </md-select>
      </md-input-container>
        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>
   		
        <md-input-container class="md-block" flex-gt-sm="">
          <label class="labelInputAddSP">Ten san pham</label>
          <input   required="" name="name" >        
        </md-input-container>

      

      </div>

       <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm="">
          <label class="labelInputAddSP">Gia </label>
          <input   required="" name="name" >        
        </md-input-container>

        <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm="">
          <label class="labelInputAddSP">So luong</label>
          <input   required="" name="type" >
        </md-input-container>
         <div flex="5" hide-xs="" hide-sm="">
          <!-- Spacer //-->
        </div>
        <md-input-container class="md-block" flex-gt-sm="">
          <label class="labelInputAddSP">Hinh anh</label>
          <input   required="" name="name" >        
        </md-input-container>
      </div> 
</div>
<div layout-align-gt-sm="center center">
   <md-button class="md-fab" aria-label="Add" align="center" ng-click="AdminThemSanPham()">
      <md-icon class="material-icons">add</md-icon>
  </md-button>
  </div>
  </div>
      
    

</md-bottom-sheet>