<form  >
<md-dialog  ng-cloak style="width: 600px;">
  
       <form  >
       <div class="divFormLogin">
         <h2 class="titleFormLogin" align="center">Login</h2>
         <div layout="row" layout-align="center center">
         <div  >
         <md-icon class="material-icons">shopping_cart</md-icon>
          </div>
        <span flex="5"></span>
       <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Name</label>
          <input  required="" name="name" ng-model="user.name">
  
          </md-input-container>
          </div>
        </div>

        <div layout="row"  layout-align="center center">
        <div   >
          <md-icon class="material-icons">lock_outline</md-icon>
          </div>
           <span flex="5"></span>
          <div flex>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Mat khau</label>
          <input type="password" required="" name="password" ng-model="user.password">
  
        </md-input-container>
      </div>
      </div>
      <div layout="row"  layout-align="center center"  >
      <md-button class="md-raised buttonFormDangNhap" flex >Dang nhap</md-button>
      </div>
      <div layout="row" class="divRegisterForgot" >
        <a   href="#">Register now</a>
        <span flex></span>
        <a  href="#">Forgot password</a>
      </div>
      </div>
       </form>
    

   
</md-dialog>
</form>