#picPanel
{
	width:1270px;
	height:350px;
}
.mdtoolbar
{
	padding-left : 20px;
	padding-right: 20px;

}
 a:hover
{
color:#ccc;

}
a,a:hover,a:focus,a:active
{
border:0;
outline:0;
text-decoration:none;
}



.toolbarDangNhap
{
	color: #F5F5F5;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 17px;
}
.toolbarDangKy
{
	color: #F5F5F5;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	margin-top: 0px;
}
.mdtoolbar .toolbarButton
{
	margin-top: 32px;
}
.mdtoolbar .toolbarButton:hover
{
	background: #f77c03;
	color:#fff;
}
 
.md-icon-button .toolbarIcon
{
	margin-top: -10px;
	margin-left: -10px;
	font-size: 36px;
}
.sidenavButton
{
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
}
.imgContent
{
	width:100%;
	height: 250px;
}
.imageSanPham
{
	width:260px;
	height: 250px;
}
.cardTitleSanPham
{
	padding-bottom:5px;
	font-size:18;
}
.cardContentSanPham
{
	color: red;
	padding-top: 20px;
	font-size: 22px;
	font-weight: bold;
}
footer
{
	background-color:#424242;
}
.footerDiaChi
{
	color: white;

}
.footerCopyright
{
	height:100px;
}
body, main
{
	background-color: #f4fbff;
}

/* mau khac f4fbff  e1f5fe*/

 
 

.divFormLogin
{
	 background-color: #dedbec; 
	 padding-left: 70px;
	 padding-right: 70px;
	 padding-bottom: 40px;
	 padding-top: 20px;
}
 .divFormLogin .buttonFormDangNhap
{
	  background-color: #636072;
	  color: white;
}
 .divFormLogin .buttonFormDangNhap:hover {
  background-color: #636072;
  color: black;
}
.divFormLogin .divRegisterForgot
{
	padding-top: 15px;
}

.divFormLogin .titleFormLogin
{
	color: #48474e;
}

 
 