 <form>
   <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
 <div layout="column">
  <table class="bordered" flex="">
            <thead>
               <tr>
                  <th data-field="TenSanPham">Ten san pham</th>
                  <th data-field="LoaiSanPham">Loai san pham</th>
                  <th data-field="GiaCa">Gia ca</th>
                  <th data-field="Soluong">So luong</th>
                  <th data-field="edit">#</th>
               </tr>
            </thead>
            <tbody>
               <tr >
                  <td>Nhan chiec la</td>
                  <td>Nhan</td>
                  <td>120.000</td>
                  <td>14</td>
                  <td>
                     <i class="btn-deletar mdi-content-remove-circle" ng-click="contatos.$remove(item)"></i>
                  </td>
               </tr>
                      <tr >
                  <td>Nhan chiec la</td>
                  <td>Nhan</td>
                  <td>120.000</td>
                  <td>14</td>
                  <td>
                     <i class="btn-deletar mdi-content-remove-circle" ng-click="contatos.$remove(item)"></i>
                  </td>
               </tr>
                      <tr >
                  <td>Nhan chiec la</td>
                  <td>Nhan</td>
                  <td>120.000</td>
                  <td>14</td>
                  <td>
                     <i class="btn-deletar mdi-content-remove-circle" ng-click="contatos.$remove(item)"></i>
                  </td>
               </tr>
                      <tr >
                  <td>Nhan chiec la</td>
                  <td>Nhan</td>
                  <td>120.000</td>
                  <td>14</td>
                  <td>
                     <i class="btn-deletar mdi-content-remove-circle" ng-click="contatos.$remove(item)"></i>
                  </td>
               </tr>
                              <tr >
                  <td>Nhan dinh da</td>
                  <td>Nhan</td>
                  <td>120.000</td>
                  <td>14</td>
                  <td>
                     <i class="btn-deletar mdi-content-remove-circle" ng-click="contatos.$remove(item)"></i>
                  </td>

                  
               </tr>
            </tbody>

	         </table>

 
   <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="openlist()">
      <md-icon class="material-icons">add</md-icon>
  </md-button>
    
</form>